<% provide(:title, "Find Shop") %>

<div class = "container-fluid">
<div class = "row">
  <div class="col-md-6 col-md-offset-3">
    <h2>Select Shop</h2>
      <% @shop.each do |s| %>
        <%= form_tag({controller: "repair_submissions", action: "new"}, method: "get", class: "") do %>
  			     <p>
  				    <strong>Name:</strong> <%= s.shop_name %><br>
              <strong>Address:</strong> <%= s.shop_address %><br>
              <strong>Zip:</strong> <%= s.shop_zip %><br>
              <strong>Phone:</strong> <%= s.shop_phone %><br>
              <%= hidden_field_tag :shop_id, s.id %>
              <%= submit_tag "Select" %>
            </p>
        <% end %>
      <% end %>
  </div>
</div>
</div>


