<% provide(:title, "Find Shop") %>

<div class = "container-fluid">
    <div class="col-sm-6 col-sm-offset-3">
      <h3 class="text-center main-headline ">Select Shop</h3>
      <%if @shop.blank?%> 

      <%else%>
        <%if params[:shop_zip].present? and params[:shop_name].present?%>
          <div class="text-left sub-headline ">(Showing 10 of <%= params[:shop_count] %> results for <%=params[:shop_name]%> in <%= params[:shop_zip]%>)</div>
        <%elsif params[:shop_zip].present?%>
          <div class="text-left sub-headline ">(Showing 10 of <%= params[:shop_count] %> results for <%= params[:shop_zip]%>)</div>
        <%elsif params[:shop_zip].present?%>
        <div class="text-left sub-headline ">(Showing 10 of <%= params[:shop_count] %> results for <%=params[:shop_name]%>)</div>
        <%end%>
      <%end%>
      <div class = "row">
        <div class="col-sm-12">
          <hr class="line-split">
        </div>
      </div>

      <% if @shop.blank? %>
      <div class ="row">
        <p class="answer-text">
          It looks like there aren't any shops listed for your search. We're continually updating shops on our platform while focusing on specific geographic areas. Please leave us your information for our early launch, and we'll let you know as soon as we add shops in your area. 
        </p>
        <br>
        <br>
      <%= form_for @subscriber, :html => {:id => 'subscriber_form', :class => ''}, remote: true do |f|%>
        <div class = "col-sm-6 col-sm-offset-3">
          <div class = "" style="padding-bottom:5px;">
            <label class = "sr-only">Email</label>
            <%= f.email_field :email, class: 'form-control form-custom-2', :placeholder => "EMAIL"%>
          </div>
          <div class = "" style="padding-bottom:5px;">
            <label class = "sr-only">Zip Code</label>
            <%= f.text_field :zip, class: 'form-control form-custom-2', :placeholder => "ZIP CODE"%>
          </div>
          <div class = "text-center">
            <%= f.submit "Let Me Know", class: "btn btn-custom-2 button-text-style" %>
          </div>
        </div>
        <% end %>
      </div>
        <br>
        <br>
        <br>
      <% else %>
      <% @shop.each do |s| %>
      <%= form_tag({controller: "repair_submissions", action: "new"}, method: "get", class: "") do %>
      <div class="row">
        <div class="col-sm-12 col-sm-offset-3">
          <div class = "shop_name" style="font-size:1.2em;">
            <%= s.shop_name %><br>
          </div>
          <div class = "shop_location" style="font-size:1.2em;">
            <%= s.shop_address %><br>
            <%= s.shop_city %>, <%= s.shop_state_code %> <%= s.shop_zip %>
            <%= submit_tag "Select", {class: "btn btn-custom-2 button-text-style", style:"font-size:1.0em; margin-left:100px;"}%>
          </div>
          <div class = "shop_contact" style="font-size:1.2em;">
            <%= s.shop_phone %><br>
          </div>
          <div class="row">
            <div class="col-sm-12 col-sm-offset-3">
            <%= hidden_field_tag :shop_id, s.id %>
            </div>
          </div>
          <% end %>
        </div>
      </div>
      <div class = "row">
        <div class="col-sm-12">
          <hr class="line-split">
        </div>
      </div>
      

      <% end %>

      <% end %>
    <nav class = "text-center" aria-label="Shop search results">
  <ul class="pagination">
    <% for i in 0..(params[:shop_count] / 10) do %>
    <li><a href="/results?utf8=✓&shop_name=<%=params[:shop_name]%>&shop_zip=<%=params[:shop_zip]%>&shop_offset=<%=i*10%>&commit=Search"><%=i + 1%></a></li>
    <% end %>
  </ul>
</nav>

</div>

</div>
