<h2>Repair Scheduled</h2>

<p>Hi team,</p>
<p>A repair was scheduled with the following details:</p><br>
<p><strong>Car owner: </strong><%= @car_owner.name%> - <%= @car_owner.email %><br>
<strong>Service: </strong><%= @service_request.repair_name %> - <%= @car_details %><br>
<strong>Pickup location: </strong><%= @service_request.pickup_location %><br></p>

<p>More details can be found on the service request edit page <%= link_to "here", edit_service_request_url(@service_request, t: @service_request.auth_token) %>.</p>