<!-- Main banner section -->

<div class = "conatiner-fluid ">
   <div class = "row">
    <div class = "col-lg-12">
        <div class = "banner_jaguar">
            <div class =  "col-md-8 col-md-offset-2" style = "padding-top: 100px;">
                <div class = "background_main_mesh">
                    <div class = "background_main_black">
                        <div class = "col-lg-12 main_heading">
                            Never Get Overcharged Again
                        </div>
                        <div class = "row">
                            <div class =  "col-md-8 col-md-offset-2">
                                <hr class = "main_heading_divider" >
                            </div>
                        </div>
                        <div class = "row">
                            <div class =  "col-lg-12 main_subheading">
                                Be An Expert on Your Car Repairs
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
   </div>
    </div>

<!--end main banner section-->

<!-- why section -->

<div class = "conatiner-fluid">
    <div class="row whySectionPositioning">
    <div class="col-md-1">
    </div>
  <div class="col-md-5">
  <h2 class = "why_section_title" style="color:#000">WHY ARE WE HERE?</h2>
  <p class = "why_section_text"style="color:#000" >The mechanical repair industry is one of the least transparent consumer facing  industries that exists. Most people will ask friends and family if they ikniow any honest mechanics whenever their car breaks down. Anautomy is not here to send you quotes  for your repair from nearby shops. you don't even know if any of those quotes are a fair price.<br> <br> Anautomy is here to help show you what other people are paying for their repairs and  where they got it done. Then you can determine if you are truly getting a good price for the repair and get your car back on the road.</p> 
</div>
<div class="col-md-5">
<%= image_tag("mechSmall.jpg" ,class: "img-responsive") %>
</div>

<div class="col-md-1">
    </div>
    </div>
    
    </div>

<!--end why section-->
<!--Anautomy Walkthrough-->
<a id = "walkthrough" name="walkthrough"></a>
  <div class = "container-fluid" style = "padding-bottom: 80px;">
   <div class = "row">
    <div class="col-lg-12 text-center">
                    <h2 class="section-headin sectionHeading">Anautomy Walkthrough</h2>
                    <h3 class="section-subheading text-muted">Mobile users, switch to landscape for best view.</h3>
                    <h4 class = "text-muted">Click or swipe through the slides to see what it looks like.</h4>
                </div>
              </div>
    <div class = "row">
    <div class = "col-lg-12">
     <div style="position: relative; width: 100%; overflow: hidden;">
        <div style="position: relative; left: 50%; width: 5000px; text-align: center; margin-left: -2500px;">
            <!-- Jssor Slider Begin -->
            <!-- To move inline styles to css file/block, please specify a class name for each element. --> 
            <div id="slider1_container" style="position: relative; margin: 0 auto; top: 0px; left: 0px; width: 600px; height: 300px;">

                <!-- Loading Screen -->
                <div u="loading" style="position: absolute; top: 0px; left: 0px;">
                    <div style="filter: alpha(opacity=70); opacity:0.7; position: absolute; display: block;
                background-color: #000; top: 0px; left: 0px;width: 100%;height:100%;">
                    </div>
                    <div style="position: absolute; display: block;
                top: 0px; left: 0px;width: 100%;height:100%;">
                    </div>
                </div>
                <!-- Slides Container -->
                <div u="slides" style="cursor: move; position: absolute; left: 0px; top: 0px; width: 600px;  height: 300px;
            overflow: hidden;">
                    <div>
                        <img u=image src="https://i.imgur.com/LEXn2bH.png" />
                        <div u="caption" t="MCLIP|B" style="position: absolute; top: 250px; left: 0px;
                    width: 600px; height: 50px;">
                    <div style="position: absolute; top: 0px; left: 0px; width: 600px; height: 50px;
                        background-color: black; opacity: 0.5; filter: alpha(opacity=50);">
                    </div>
                    <div class = "captionFont" style="position: absolute; top: 0px; left: 0px; width: 590px; height: 50px;
                        color: White; text-align: center;" >
                        <p>Anautomy is designed to be as user friendly and informative as possible. <br>Here you are prompted to enter the vehicle and repair that you are searching prices for.</p>
                    </div>
                  </div>
                    </div>



                    <div>
                        <img u=image src="https://i.imgur.com/Ugq5P8i.png" />
                        <div u="caption" t="T" t2="T" style="position: absolute; top: 0; left: 0px;
                    width: 600px; height: 50px;">
                    <div style="position: absolute; top: 0px; left: 0px; width: 600px; height: 40px;
                        background-color: Black; opacity: 0.7; filter: alpha(opacity=50);">
                    </div>
                    <div class = "captionFont" style="position: absolute; top: 0px; left: 0px; width: 570px; height: 50px;
                        color: White; text-align: center;">
                        <br>
                        <p>Here you'll see your search results (or all available repairs if you just searched by car).</p>
                    </div>
                </div>

                <div u="caption" t="B" style="position: absolute; top: 200px; left: 50px;
                    width: 600px; height: 50px;">
                    <div class = "toolTip">
                    <div  style="position: absolute; top: 0px; left: 0px; width: 600px; height: 80px;
                        background-color: #333333; opacity: 0.9; filter: alpha(opacity=50); width: 130px;">
                    </div>
                    <div style="position: absolute; top: 0px; left: 0px; width: 600px; height: 70px;
                        color: White; font-size: 8px; font-weight: normal; width: 130px; padding-left: 5px; padding-right: 5px;">
                        <a href = "#hide" class = "hideTooltip" style = "text-decoration: none;">
                          <span class="fa-stack fa-sm" style = "float:right;">
                            <i class="fa fa-square fa-stack-2x" style = "color: #CFCFCF; padding-top:0;"></i>
                            <i class="fa fa-times fa-stack-1x" style = "color: #333333; padding-top:0;"></i>
                          </span>
                        </a><br>
                        You can see any repairs for this car if you search for "all repairs" like we did here. Otherwise, you'll see the most relevant repairs based on your search results. 
                    </div>
                  </div>
                  </div>


                    </div>

                    <div>
                        <img u=image src="https://i.imgur.com/X86H4DR.png" />
                         <div u="caption" t="T" t2="MCLIP|B" style="position: absolute; top: 0; left: 0px;
                    width: 600px; height: 50px;">

                    <div style="position: absolute; top: 0px; left: 0px; width: 600px; height: 45px;
                        background-color: Black; opacity: 0.7; filter: alpha(opacity=50);">
                    </div>
                    <div class = "captionFont" style="position: absolute; top: 0px; left: 0px; width: 600px; height: 50px;
                        color: White; text-align: center;">
                        <p>Opening up a repairs group shows you all available repairs in the group. Clicking a specific repair <br>brings up pricing info for it.</p>
                    </div>
                </div>


                <div u="caption" t="B" style="position: absolute; top: 200px; left: 170px;
                    width: 600px; height: 50px;">
                    <div class = "toolTip2">
                    <div style="position: absolute; top: 0px; left: 0px; width: 600px; height: 60px;
                        background-color: #333333; opacity: 0.9; filter: alpha(opacity=50); width: 100px;">
                    </div>
                    <div style="position: absolute; top: 0px; left: 0px; width: 600px; height: 60px;
                        color: White; font-size: 7px; font-weight: normal; text-align: center; width: 100px;">
                        <a href = "#hide" class = "hideTooltip2" style = "text-decoration: none;">
                          <span class="fa-stack fa-sm" style = "float:right;">
                            <i class="fa fa-square fa-stack-2x" style = "color: #CFCFCF; padding-top:0;"></i>
                            <i class="fa fa-times fa-stack-1x" style = "color: #333333; padding-top:0;"></i>
                          </span>
                        </a><br>
                        Average parts &amp; labor costs, and the range in prices for this repair on this vehicle specifically.
                    </div>
                  </div>
                  </div>


                  <div u="caption" t="B" style="position: absolute; top: 150px; left: 300px;
                    width: 600px; height: 50px;">
                    <div class = "toolTip3">
                    <div style="position: absolute; top: 0px; left: 0px; width: 600px; height: 50px;
                        background-color: #333333; opacity: 0.9; filter: alpha(opacity=50); width: 100px; height: 40px;">
                    </div>
                    <div style="position: absolute; top: 0px; left: 0px; width: 600px; height: 50px;
                        color: White; font-size: 8px; font-weight: normal; text-align: center; width: 100px;">
                        <a href = "#hide" class = "hideTooltip3" style = "text-decoration: none;">
                          <span class="fa-stack fa-sm" style = "float:right;">
                            <i class="fa fa-square fa-stack-2x" style = "color: #CFCFCF; padding-top:0;"></i>
                            <i class="fa fa-times fa-stack-1x" style = "color: #333333; padding-top:0;"></i>
                          </span>
                        </a><br>
                        Understanding your car compared to other cars 
                    </div>
                  </div>
                  </div>



                  <div u="caption" t="B" style="position: absolute; top: 180px; left:480px;
                    width: 600px; height: 50px;">
                    <div class = "toolTip4">
                    <div style="position: absolute; top: 0px; left: 0px; width: 600px; height: 50px;
                        background-color: #333333; opacity: 0.9; filter: alpha(opacity=50); width: 100px; height: 40px;">
                    </div>
                    <div style="position: absolute; top: 0px; left: 0px; width: 600px; height: 50px;
                        color: White; font-size: 8px; font-weight: normal; text-align: center; width: 100px;">
                        <a href = "#hide" class = "hideTooltip4" style = "text-decoration: none;">
                          <span class="fa-stack fa-sm" style = "float:right;">
                            <i class="fa fa-square fa-stack-2x" style = "color: #CFCFCF; padding-top:0;"></i>
                            <i class="fa fa-times fa-stack-1x" style = "color: #333333; padding-top:0;"></i>
                          </span>
                        </a><br>
                        KBB/Edmunds API for your car's value
                    </div>
                  </div>
                  </div>
                    </div>



                    <div>
                        <img u=image src="https://i.imgur.com/8c236Dh.png" />
                        <div u="caption" t="T" t2="NO" style="position: absolute; top: 0; left: 0px;
                    width: 600px; height: 50px;">
                    <div style="position: absolute; top: 0px; left: 0px; width: 600px; height: 45px;
                        background-color: Black; opacity: 0.5; filter: alpha(opacity=50);">
                    </div>
                    <div class = "captionFont" style="position: absolute; top: 0px; left: 0px; width: 580px; height: 50px;
                        color: White; text-align: center;">
                        <p>You can drill further down to see all individual submissions for a repair too. We'll show you the <br>submissions most relevant to your location (e.g. Chicago) first.</p>
                    </div>
                </div>



                <div u="caption" t="T" style="position: absolute; top: 60px; left:195px;
                    width: 600px; height: 70px;">
                    <div class = "toolTip5">
                    <div style="position: absolute; top: 0px; left: 0px; width: 600px;
                        background-color: #333333; opacity: 0.9; filter: alpha(opacity=50); width: 100px; height: 65px;">
                    </div>
                    <div style="position: absolute; top: 0px; left: 0px; width: 600px; height:50px;
                        color: White; font-size: 7px; font-weight: normal; text-align: center; width: 100px;">
                        <a href = "#hide" class = "hideTooltip5" style = "text-decoration: none;">
                          <span class="fa-stack fa-sm" style = "float:right;">
                            <i class="fa fa-square fa-stack-2x" style = "color: #CFCFCF; padding-top:0;"></i>
                            <i class="fa fa-times fa-stack-1x" style = "color: #333333; padding-top:0;"></i>
                          </span>
                        </a><br>
                        We will only show you what matters - shops with above average rating that charged a below average price for this repair
                    </div>
                  </div>
                  </div>

                  <div u="caption" t="L" style="position: absolute; top: 230px; left:70px;
                    width: 600px; height: 50px;">
                    <div class = "toolTip6">
                    <div style="position: absolute; top: 0px; left: 0px; width: 600px; height: 80px;
                        background-color: #333333; opacity: 0.9; filter: alpha(opacity=50); width: 100px; height: 40px;">
                    </div>
                    <div style="position: absolute; top: 0px; left: 0px; width: 600px; height:80px;
                        color: White; font-size: 7px; font-weight: normal; text-align: center; width: 100px;">
                        <a href = "#hide" class = "hideTooltip6" style = "text-decoration: none;">
                          <span class="fa-stack fa-sm" style = "float:right;">
                            <i class="fa fa-square fa-stack-2x" style = "color: #CFCFCF; padding-top:0;"></i>
                            <i class="fa fa-times fa-stack-1x" style = "color: #333333; padding-top:0;"></i>
                          </span>
                        </a><br>
                        This will show you the shop where the work was done
                    </div>
                  </div>
                  </div>

                  <div u="caption" t="B" style="position: absolute; top: 160px; left:260px;
                    width: 600px; height: 50px;">
                    <div class = "toolTip7">
                    <div style="position: absolute; top: 0px; left: 0px; width: 600px; height: 50px;
                        background-color: #333333; opacity: 0.9; filter: alpha(opacity=50); width: 100px; height: 40px;">
                    </div>
                    <div style="position: absolute; top: 0px; left: 0px; width: 600px; height: 50px;
                        color: White; font-size: 9px; font-weight: normal; text-align: center; width: 100px;">
                        <a href = "#hide" class = "hideTooltip7" style = "text-decoration: none;">
                          <span class="fa-stack fa-sm" style = "float:right;">
                            <i class="fa fa-square fa-stack-2x" style = "color: #CFCFCF; padding-top:0;"></i>
                            <i class="fa fa-times fa-stack-1x" style = "color: #333333; padding-top:0;"></i>
                          </span>
                        </a><br>
                        Yelp integrated reviews for shop
                    </div>
                  </div>
                  </div>

                  <div u="caption" t="R" style="position: absolute; top: 150px; left:470px;
                    width: 600px; height: 50px;">
                    <div class = "toolTip8">
                    <div style="position: absolute; top: 0px; left: 0px; width: 600px; height: 50px;
                        background-color: #333333; opacity: 0.9; filter: alpha(opacity=50); width: 100px;">
                    </div>
                    <div style="position: absolute; top: 0px; left: 0px; width: 600px; height: 50px;
                        color: White; font-size: 9px; font-weight: normal; text-align: center; width: 100px;">
                        <a href = "#hide" class = "hideTooltip8" style = "text-decoration: none;">
                          <span class="fa-stack fa-sm" style = "float:right;">
                            <i class="fa fa-square fa-stack-2x" style = "color: #CFCFCF; padding-top:0;"></i>
                            <i class="fa fa-times fa-stack-1x" style = "color: #333333; padding-top:0;"></i>
                          </span>
                        </a><br>
                        Valuable information about the repair
                    </div>
                  </div >
                  </div>

                    </div>
                    <div>
                        <img u=image src="https://i.imgur.com/O39IXHr.png" />
                    <!--<div u="caption" t="MCLIP|B" t2="NO" style="position: absolute; top: 0; left: 0px;
                    width: 600px; height: 50px;">
                    <div style="position: absolute; top: 0px; left: 0px; width: 600px; height: 50px;
                        background-color: Black; opacity: 0.5; filter: alpha(opacity=50);">
                    </div>
                    <div style="position: absolute; top: 0px; left: 0px; width: 600px; height: 50px;
                        color: White; font-size: 10px; font-weight: normal; text-align: center;">
                        <p>Clicking on the green text with "# submissions" next to the name of the repair will direct you to the submissions page for that repair on that vehicle. On the submissions page, you can see each individual submission that was made for this repair &amp; vehicle. If there are lots of submissions, we will automatically show you the submissions that were made in your general location (e.g. Chicago) because those are the submissions most relevant to you.</p>
                    </div>
                </div>-->


                <div u="caption" t="R" style="position: absolute; top: 70px; left:380px;
                    width: 600px; height: 50px;">
                    <div class = "toolTip9">
                    <div style="position: absolute; top: 0px; left: 0px; width: 600px;
                        background-color: #333333; opacity: 0.9; filter: alpha(opacity=50); width: 120px; height: 60px; border-radius: 0.5;">
                    </div>
                    <div style="position: absolute; top: 0px; left: 0px; width: 600px; height: 70px;
                        color: White; font-size: 8px; font-weight: normal; text-align: center; width: 120px;">
                        <a href = "#hide" class = "hideTooltip9" style = "text-decoration: none;">
                          <span class="fa-stack fa-sm" style = "float:right;">
                            <i class="fa fa-square fa-stack-2x" style = "color: #CFCFCF; padding-top:0;"></i>
                            <i class="fa fa-times fa-stack-1x" style = "color: #333333; padding-top:0;"></i>
                          </span>
                        </a><br>
                        Analytics to help you understand how much you're paying over time compared to other cars and geographies.
                    </div>
                  </div>
                  </div>

                    </div>
                </div>
                <!--#region Arrow Navigator Skin Begin -->
            <!-- Help: http://www.jssor.com/development/slider-with-arrow-navigator-jquery.html -->
            <!-- inline style moved to stylesheet
            <style>
                /* jssor slider arrow navigator skin 11 css */
                /*
                .jssora11l                  (normal)
                .jssora11r                  (normal)
                .jssora11l:hover            (normal mouseover)
                .jssora11r:hover            (normal mouseover)
                .jssora11l.jssora11ldn      (mousedown)
                .jssora11r.jssora11rdn      (mousedown)
                */
                .jssora11l, .jssora11r {
                    display: block;
                    position: absolute;
                    /* size of arrow element */
                    width: 37px;
                    height: 37px;
                    cursor: pointer;
                    background: url('http://i.imgur.com/dnPhc5K.png') no-repeat;
                    overflow: hidden;
                }
                .jssora11l { background-position: -11px -41px; }
                .jssora11r { background-position: -71px -41px; }
                .jssora11l:hover { background-position: -131px -41px; }
                .jssora11r:hover { background-position: -191px -41px; }
                .jssora11l.jssora11ldn { background-position: -251px -41px; }
                .jssora11r.jssora11rdn { background-position: -311px -41px; }
            </style>-->
            <!-- Arrow Left -->
            <span u="arrowleft" class="jssora11l" style="top: 123px; left: 8px;">
            </span>
            <!-- Arrow Right -->
            <span u="arrowright" class="jssora11r" style="top: 123px; right: 8px;">
            </span>
            <!--#endregion Arrow Navigator Skin End -->
                <a style="display: none" href="http://www.jssor.com">Carousel Slider</a>
            </div>
            <!-- Jssor Slider End -->
        </div>
    </div>
  </div>
  </div>
</div>
<!--End Walkthrough -->

<!-- how anautomy works section -->
<a id = "signup" name="signup"></a>
<div class = "conatiner-fluid">
    <div class = "row">
    <div class = "col-lg-12">
        <div class = "banner_how">
            

            <div class = "row">
                <div class = "col-lg-12">
                    <div class = "how_title">
                        how anautomy works
                    </div>
                    <div class =  "col-md-6 col-md-offset-3" style = "padding-bottom: 30px;">
                        <hr class = "how_title_divider">
                    </div>
                </div>
                <div class="row row-centered">
        <div class="col-sm-6 col-centered"><div class="item"><div class="content"></div></div></div>
        <div class="col-sm-6 col-centered"><div class="item"><div class="content"></div></div></div>
        <div class="col-sm-3 col-centered">

            <i class="fa fa-search fa-inverse fa-3x"></i>
                  
                    <div class = "how_subtitle" style = "padding-top: 20px;">Find</div>
                    <p class = "how_text">Find your car and the repair you need through our powerful search tool.</p>
            
        </div>
        <div class="col-sm-3 col-centered">
            <i class="fa fa-eye fa-inverse fa-3x"></i>

                    <h4 class="how_subtitle" style = "padding-top: 15px;">Browse</h4>
                    <p class=" how_text">See how much others are paying on the same repair for your vehicle.</p>
        </div>
        
        <div class="col-sm-3 col-centered">

            <i class="fa fa-usd fa-inverse fa-3x"></i>
                
                    <h4 class="how_subtitle" style = "padding-top: 15px;">Save</h4>
                    <p class=" how_text">Find the best place to get the repair done for a price that you know is fair.</p>
        </div>
    </div>
            </div>
            <div class = "row">
                <div class =  "col-md-6 col-md-offset-3" style = "padding-top: 55px;">
                <h5 class = "text-center launch-message">Help bring transparency to the auto repair industry by being a part of our beta. Sign up now, and we'll keep you posted.</h5>
            </div>
            <!--
            <div class = "col-md-3">
                <hr class = "launch_message_line">
            </div>
                <div class =  "col-md-5">
                <h5 class = "text-center launch-message">We'll be launching soon. Get on our email list for an invitation to our beta launch.</h5>
            </div>
            <div class = "col-md-3">
                <hr class = "launch_message_line">
            </div>-->

            </div>
            <div class = "row" >
                <div class =  "col-md-6 col-md-offset-3 ">
                <div class = "row">
                    <%= form_for @subscriber, :html => {:class => ''}, remote: true do |f|%>
                    <div class = "col-sm-5">
                    <div class="form-group ">
                        <label class = "sr-only">Email</label>
                         <%= f.email_field :email, class: 'form-control form-custom', :placeholder => "EMAIL"%>
                    </div>
                    </div>
                    <div class = "col-sm-5">
                    <div class="form-group">
                        <label class = "sr-only">Zip Code</label>
                        <%= f.text_field :zip, class: 'form-control form-custom', :placeholder => "ZIP CODE"%>
                    </div>
                </div>
                <div class = "col-sm-2">
                    <%= f.submit "NOTIFY ME", class: "btn btn-custom" %>
                </div>
                 <% end %>
            </div>
            </div>
        </div>
        <br>

    </div>
   </div>
    </div>
</div>

<!-- end how anautomy works section-->
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<!-- whats next section -->
<div class = "conatiner-fluid">
    <div class = "row">
        <div class = "col-lg-12">
            <div class = "banner_next">
    <div class = "row">
        <div class = "col-lg-12">
            <div class = "greenHeader">
                <p class = "bannerText"><span style = "color: black;">get started now </span><span style = "color: white">and improve your car repair service/experience!</span></p>
            </div>
        </div>
    </div>
    <div class = "row" style = "padding-top: 50px;">
        <div class =  "col-sm-4 col-sm-offset-1">
            <h3 class = "next_section_heading">Make a submission</h3>
                
                  <p class="next_section_subheading">Your submissions are critical in continuing the growth of information. This pricing information is the driver behind the transparency that Anautomy will bring.</p>
              
                <h3 class = "next_section_heading">What's in it for you?</h3>
                
                  <p class="next_section_subheading">Early submitters will have lifetime access to Anautomy, be the first to test drive any new features, and have priority access to our beta test when we launch.</p>
                
                <h3 class = "next_section_heading">Where's the information going?</h3>
                
                  <p class="next_section_subheading">This information will be part of our platform and help everyone discover how much others are paying for car repairs.</p>
                
        </div>
        <div class =  "col-sm-6">
            <%= form_for @repairSubmission, :html => {:class => ''}, remote: true do |f|%>
            <div class = "row">
                <div class = "col-sm-4">
                    <div class = "small_form_title">
                        <hr style = "border-color:#52BB49">

                    </div>
                </div>
                <div class = "col-sm-4">
                    <div class = "small_form_title">
                        Personal Details
                    </div>
                </div>
                <div class = "col-sm-4">
                    <div class = "small_form_title">
                        <hr style = "border-color:#52BB49">

                    </div>
                </div>
            </div>
            <div class = "row">
                    <div class = "col-sm-4">
                        <div class="form-group ">
                            <label class = "sr-only">First Name</label>
                            <%= f.text_field :name, class: 'form-control form-custom', :placeholder => "FIRST NAME*"%>
                        </div>
                    </div>
                    <div class = "col-sm-4">
                        <div class="form-group ">
                            <label class = "sr-only">Email</label>
                             <%= f.email_field :email, class: 'form-control form-custom', :placeholder => "EMAIL*"%>
                        </div>
                    </div>
                    <div class = "col-sm-4">
                        <div class="form-group">
                            <label class = "sr-only">Zip Code</label>
                            <%= f.text_field :zip, class: 'form-control form-custom', :placeholder => "ZIP CODE*"%>
                        </div>
                    </div>
            </div>
            <div class = "row">
                <div class = "col-sm-4">
                    <div class = "small_form_title">
                        <hr style = "border-color:#52BB49">

                    </div>
                </div>
                <div class = "col-sm-4">
                    <div class = "small_form_title">
                        What kind of car?
                    </div>
                </div>
                <div class = "col-sm-4">
                    <div class = "small_form_title">
                        <hr style = "border-color:#52BB49">

                    </div>
                </div>
            </div>
            <div class = "row">
                    <div class = "col-sm-4">
                        <%= f.select(:vehicleYear, options_for_select((Time.zone.now.year - 100)..(Time.zone.now.year), :selected => (Time.zone.now.year)), {}, {class: "select_submission_form"}) %>
                    </div>
                    <div class = "col-sm-4">
                        <div class="form-group ">
                            <label class = "sr-only">Make</label>
                              <%= f.text_field :vehicleMake, class: 'form-control form-custom', :placeholder => "MAKE*"%>
                        </div>
                    </div>
                    <div class = "col-sm-4">
                        <div class="form-group">
                            <label class = "sr-only">Model</label>
                             <%= f.text_field :vehicleModel, class: 'form-control form-custom', :placeholder => "MODEL*"%>
                        </div>
                    </div>
                    <div class = "col-sm-4">
                        <div class="form-group ">
                            <label class = "sr-only">Vehicle Trime</label>
                             <%= f.text_field :vehicleTrim, class: 'form-control form-custom', :placeholder => "TRIM*"%>
                        </div>
                    </div>
                    <div class = "col-sm-4">
                        <div class="form-group">
                            <label class = "sr-only">Mileage</label>
                            <%= f.text_field :vehicleMileage, class: 'form-control form-custom', :placeholder => "MILEAGE"%>
                        </div>
                    </div>
            </div>
            <div class = "row">
                <div class = "col-sm-4">
                    <div class = "small_form_title">
                        <hr style = "border-color:#52BB49">

                    </div>
                </div>
                <div class = "col-sm-4">
                    <div class = "small_form_title">
                        What repair?
                    </div>
                </div>
                <div class = "col-sm-4">
                    <div class = "small_form_title">
                        <hr style = "border-color:#52BB49">

                    </div>
                </div>
            </div>
            <div class = "row">
                <div class = "col-sm-4">
                        <div class="form-group ">
                            <label class = "sr-only">Repair Name</label>
                            <%= f.text_field :repairDescription, class: 'form-control form-custom', :placeholder => 'REPAIR NAME*'%>
                        </div>
                    </div>
                    <div class = "col-sm-4">
                        <div class="form-group ">
                            <label class = "sr-only">Parts Cost</label>
                             <%= f.text_field :partsCost, class: 'form-control form-custom', :placeholder => "PARTS COST*"%>
                        </div>
                    </div>
                    <div class = "col-sm-4">
                        <div class="form-group">
                            <label class = "sr-only">Labor Cost</label>
                            <%= f.text_field :laborCost, class: 'form-control form-custom', :placeholder => "LABOR COST*"%>
                        </div>
                    </div>
            </div>
            <div class = "row">
                <div class = "col-sm-4">
                    <div class = "small_form_title">
                        <hr style = "border-color:#52BB49">

                    </div>
                </div>
                <div class = "col-sm-4">
                    <div class = "small_form_title">
                        Where did you get it done?
                    </div>
                </div>
                <div class = "col-sm-4">
                    <div class = "small_form_title">
                        <hr style = "border-color:#52BB49">

                    </div>
                </div>
            </div>
            <div class = "row">
                <div class = "col-sm-4">
                        <div class="form-group ">
                            <label class = "sr-only">Shop Name</label>
                            <%= f.text_field :shopName, class: 'form-control form-custom', :placeholder => "SHOP NAME*"%>
                        </div>
                    </div>
                    <div class = "col-sm-4">
                        <div class="form-group ">
                            <label class = "sr-only">City State</label>
                             <%= f.text_field :shopCityState, class: 'form-control form-custom', :placeholder => "SHOP CITY/STATE*"%>
                        </div>
                    </div>
            </div>
            <div class = "row">
                <div class = "col-sm-12">
                        <div class="form-group">
                            <label class = "sr-only">Review</label>
                            <%= f.text_area :review, class: 'form-control form-custom',:rows => 5, :cols => 71,  :placeholder => "GIVE US A SHORT DESCRIPTION OF YOUR EXPERIENCE HERE! (OPTIONAL)"%>
                        </div>
                    </div>
                </div>
                <div class = "row" style = "padding-bottom: 50px;">
                     <div class =  "col-md-12">
                    <%= f.submit "SHARE", class: "btn btn-custom btn-block" %>
                </div>
                </div>
                <% end %>
        </div>
    </div>

</div>

</div>
</div>
    </div>

<!-- end how anautomy works section-->



<!--as seen on section-->



<!--as seen on section-->
 <%= javascript_include_tag "jquery-1.9.1.min.js"%>

 <script>
        jQuery(document).ready(function ($) {
          var _CaptionTransitions = [];
            _CaptionTransitions["L"] = { $Duration: 800, x: 0.6, $Easing: { $Left: $JssorEasing$.$EaseInOutSine }, $Opacity: 2 };
            _CaptionTransitions["R"] = { $Duration: 800, x: -0.6, $Easing: { $Left: $JssorEasing$.$EaseInOutSine }, $Opacity: 2 };
            _CaptionTransitions["T"] = { $Duration: 800, y: 0.6, $Easing: { $Top: $JssorEasing$.$EaseInOutSine }, $Opacity: 2 };
            _CaptionTransitions["B"] = { $Duration: 800, y: -0.6, $Easing: { $Top: $JssorEasing$.$EaseInOutSine }, $Opacity: 2 };
            _CaptionTransitions["TL"] = { $Duration: 800, x: 0.6, y: 0.6, $Easing: { $Left: $JssorEasing$.$EaseInOutSine, $Top: $JssorEasing$.$EaseInOutSine }, $Opacity: 2 };
            _CaptionTransitions["TR"] = { $Duration: 800, x: -0.6, y: 0.6, $Easing: { $Left: $JssorEasing$.$EaseInOutSine, $Top: $JssorEasing$.$EaseInOutSine }, $Opacity: 2 };
            _CaptionTransitions["BL"] = { $Duration: 800, x: 0.6, y: -0.6, $Easing: { $Left: $JssorEasing$.$EaseInOutSine, $Top: $JssorEasing$.$EaseInOutSine }, $Opacity: 2 };
            _CaptionTransitions["BR"] = { $Duration: 800, x: -0.6, y: -0.6, $Easing: { $Left: $JssorEasing$.$EaseInOutSine, $Top: $JssorEasing$.$EaseInOutSine }, $Opacity: 2 };
            _CaptionTransitions["WAVE|L"] = { $Duration: 1500, x: 0.6, y: 0.3, $Easing: { $Left: $JssorEasing$.$EaseLinear, $Top: $JssorEasing$.$EaseInWave }, $Opacity: 2, $Round: { $Top: 2.5} };
            _CaptionTransitions["MCLIP|B"] = { $Duration: 600, $Clip: 8, $Move: true, $Easing: $JssorEasing$.$EaseOutExpo };
            var options = {
                $FillMode: 2, 
                $SlideDuration: 800,                                //[Optional] Specifies default duration (swipe) for slide in milliseconds, default value is 500
                $DragOrientation: 3,                                //[Optional] Orientation to drag slide, 0 no drag, 1 horizental, 2 vertical, 3 either, default value is 1 (Note that the $DragOrientation should be the same as $PlayOrientation when $DisplayPieces is greater than 1, or parking position is not 0)
                $AutoPlay: false,                                    //[Optional] Whether to auto play, to enable slideshow, this option must be set to true, default value is false
                $AutoPlayInterval: 1500,                            //[Optional] Interval (in milliseconds) to go for next slide since the previous stopped if the slider is auto playing, default value is 3000
                $ArrowNavigatorOptions: {                           //[Optional] Options to specify and enable arrow navigator or not
                    $Class: $JssorArrowNavigator$,                  //[Requried] Class to create arrow navigator instance
                    $ChanceToShow: 2,                               //[Required] 0 Never, 1 Mouse Over, 2 Always
                    $AutoCenter: 2,                                 //[Optional] Auto center arrows in parent container, 0 No, 1 Horizontal, 2 Vertical, 3 Both, default value is 0
                    $Steps: 1,                                      //[Optional] Steps to go for each navigation request, default value is 1
                    $Scale: true                                  //Scales bullets navigator or not while slider scale
                },
                $CaptionSliderOptions: {
                  $Class: $JssorCaptionSlider$,
                  $CaptionTransitions: _CaptionTransitions,
                  $PlayInMode: 1,
                  $PlayOutMode: 3
                }
            };
            var jssor_slider1 = new $JssorSlider$("slider1_container", options);
            //responsive code begin
            //you can remove responsive code if you don't want the slider to scale along with window
            function ScaleSlider() {
                var windowWidth = $(window).width();
                if (windowWidth) {
                    var windowHeight = $(window).height();
                    var originalWidth = jssor_slider1.$OriginalWidth();
                    var originalHeight = jssor_slider1.$OriginalHeight();
                    if (originalWidth / windowWidth > originalHeight / windowHeight) {
                        jssor_slider1.$ScaleHeight(windowHeight);
                    }
                    else {
                        jssor_slider1.$ScaleWidth(windowWidth);
                    }
                }
                else
                    window.setTimeout(ScaleSlider, 30);
            }
            ScaleSlider();
            $(window).bind("load", ScaleSlider);
            $(window).bind("resize", ScaleSlider);
            $(window).bind("orientationchange", ScaleSlider);
            //responsive code end
        });
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-62238284-1', 'auto');
  ga('send', 'pageview');

$( ".hideTooltip" ).click(function( event ) {
  event.preventDefault();
  $( ".toolTip" ).hide();
});
$( ".hideTooltip2" ).click(function( event ) {
  event.preventDefault();
  $( ".toolTip2" ).hide();
});
$( ".hideTooltip3" ).click(function( event ) {
  event.preventDefault();
  $( ".toolTip3" ).hide();
});
$( ".hideTooltip4" ).click(function( event ) {
  event.preventDefault();
  $( ".toolTip4" ).hide();
});
$( ".hideTooltip5" ).click(function( event ) {
  event.preventDefault();
  $( ".toolTip5" ).hide();
});
$( ".hideTooltip6" ).click(function( event ) {
  event.preventDefault();
  $( ".toolTip6" ).hide();
});
$( ".hideTooltip7" ).click(function( event ) {
  event.preventDefault();
  $( ".toolTip7" ).hide();
});
$( ".hideTooltip8" ).click(function( event ) {
  event.preventDefault();
  $( ".toolTip8" ).hide();
});
$( ".hideTooltip9" ).click(function( event ) {
  event.preventDefault();
  $( ".toolTip9" ).hide();
});
</script>