<!-- Main banner section -->

<div class = "conatiner-fluid ">
   <div class = "row">
    <div class = "col-lg-12">
        <div class = "banner_jaguar">
            <div class =  "col-md-8 col-md-offset-2" style = "padding-top: 100px;">
                <div class = "background_main_mesh">
                    <div class = "background_main_black">
                        <div class = "col-lg-12 main_heading">
                            Never Get Overcharged Again
                        </div>
                        <div class = "row">
                            <div class =  "col-md-8 col-md-offset-2">
                                <hr class = "main_heading_divider" >
                            </div>
                        </div>
                        <div class = "row">
                            <div class =  "col-lg-12 main_subheading">
                                Be An Expert on Your Car Repairs
                            </div>
                        </div>
                        <br>
                        <div class = "row">
                                <%= form_tag(anautomy_homepage_path(:controller => "anautomy", :action => "homepage"), :method => "get") do%>
                            <div class =  "col-xs-5 col-xs-offset-3">
                                <div class="form-group ">
                                    <label class = "sr-only">What kind of car?</label>
                                    <%= text_field_tag :car_type, params[:null], :class => "form-control main_form_custom", placeholder: 'WHAT KIND OF CAR?' %>
                                </div>
                                <div class="form-group">
                                    <label class = "sr-only">What Repair?</label>
                                    <%= text_field_tag :repair, params[:null], :class => "form-control main_form_custom", placeholder: 'WHAT REPAIR?'%>
                                </div>
                            </div>
                            <div class =  "col-xs-1">
                                
                                <%= button_tag(type: "submit", class: "btn main_btn_custom") do %>
                                <i class="fa fa-search fa-inverse fa-2x" style = "color: #52BB49"></i>
                                <% end %>
                            </div>
                             <% end %>
                        </div>
                        <div class = "row text-center" style = "padding-top: 50px;">
                            <div class =  "col-sm-5 col-sm-offset-1">
                                <span class "main_lower_message">Something's wrong...But I don't know what.</span>
                                <i class="fa fa-angle-down" style = "color: #52BB49; display: block; padding-bottom: 5px; font-size: 1.5em;"></i>
                                <a href = "#link" style = "height: 40px">
                                <div class="input-group margin-bottom-sm">
                                    <div class = "diagnostic_app_btn_text form-control" style = "height: 40px">download the diagnostics app </div>
                                    <span class="input-group-addon diagnostic_app_icon_background"><i class="fa fa-download diagnostic_app_icon fa-lg"></i></span>

                                </div>
                            </a>
                            </div>
                            <div class =  "col-sm-5">
                                <span class "main_lower_message">Have the app already?</span>
                                <i class="fa fa-angle-down" style = "color: #52BB49; display: block; padding-bottom: 5px; font-size: 1.5em;"></i>
                                <a href = "#link" style = "height: 40px">
                                <div class="input-group margin-bottom-sm">
                                    <div class = "diagnostic_report_btn_text form-control" style = "height: 40px">submit diagnostics report </div>
                                    <span class="input-group-addon diagnostic_report_icon_background"><i class="fa fa-share diagnostic_report_icon fa-lg"></i></span>
                                </div>
                            </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   </div>
    </div>

<!--end main banner section-->

<!-- why section -->

<div class = "conatiner-fluid">
    <div class="row whySectionPositioning">
    <div class="col-md-1">
    </div>
  <div class="col-md-4">
  <h2 style="color:#000">WHY ARE WE HERE?</h2>
  <p style="color:#000" >The mechanical repair industry is one of the least transparent consumer facing  industries that exists. Most people will ask friends and family if they ikniow any honest mechanics whenever their car breaks down. Anautomy is not here to send you quotes  for your repair from nearby shops. you don't even know if any of those quotes are a fair price.<br> <br> Anautomy is here to help show you what other people are paying for their repairs and  where they got it done. Then you can determine if you are truly getting a good price for the repair and get your car back on the road.</p> 
</div>
<div class="col-md-1">
</div>
<div class="col-md-5">
<%= image_tag("mechSmall.jpg" ,class: "img-responsive") %>
</div>

<div class="col-md-1">
    </div>
    </div>
    
    </div>

<!--end why section-->


<!-- how anautomy works section -->

<div class = "conatiner-fluid">
    <div class = "row">
    <div class = "col-lg-12">
        <div class = "banner_how">
            

            <div class = "row">
                <div class = "col-lg-12">
                    <div class = "how_title">
                        how anautomy works
                    </div>
                    <div class =  "col-md-6 col-md-offset-3" style = "padding-bottom: 30px;">
                        <hr class = "how_title_divider">
                    </div>
                </div>
                <div class="row row-centered">
        <div class="col-sm-6 col-centered"><div class="item"><div class="content"></div></div></div>
        <div class="col-sm-6 col-centered"><div class="item"><div class="content"></div></div></div>
        <div class="col-sm-3 col-centered">

            <i class="fa fa-search fa-inverse fa-3x"></i>
                  
                    <div class = "how_subtitle" style = "padding-top: 20px;">Find</div>
                    <p class = "how_text">Find your car and the repair you need through our powerful search tool.</p>
            
        </div>
        <div class="col-sm-3 col-centered">
            <i class="fa fa-eye fa-inverse fa-3x"></i>

                    <h4 class="how_subtitle" style = "padding-top: 15px;">Browse</h4>
                    <p class=" how_text">See how much others are paying on the same repair for your vehicle.</p>
        </div>
        
        <div class="col-sm-3 col-centered">

            <i class="fa fa-usd fa-inverse fa-3x"></i>
                
                    <h4 class="how_subtitle" style = "padding-top: 15px;">Save</h4>
                    <p class=" how_text">Find the best place to get the repair done for a price that you know is fair.</p>
        </div>
    </div>
            </div>
            <div class = "row">
                <div class =  "col-md-6 col-md-offset-3" style = "padding-top: 55px;">
                <h5 class = "text-center launch-message">We'll be launching soon. Get on our email list for an invitation to our beta launch.</h5>
            </div>
            <!--
            <div class = "col-md-3">
                <hr class = "launch_message_line">
            </div>
                <div class =  "col-md-5">
                <h5 class = "text-center launch-message">We'll be launching soon. Get on our email list for an invitation to our beta launch.</h5>
            </div>
            <div class = "col-md-3">
                <hr class = "launch_message_line">
            </div>-->

            </div>
            <div class = "row" >
                <div class =  "col-md-6 col-md-offset-3 ">
                <div class = "row">
                    <div class = "col-sm-5">
                    <div class="form-group ">
                        <label class = "sr-only">Email</label>
                        <input type="email" class="form-control form-custom" placeholder="EMAIL">
                    </div>
                    </div>
                    <div class = "col-sm-5">
                    <div class="form-group">
                        <label class = "sr-only">Zip Code</label>
                        <input type="text" class="form-control form-custom" placeholder="ZIP CODE">
                    </div>
                </div>
                <div class = "col-sm-2">
                    <button type="submit" class="btn btn-custom">Notify Me</button>
                </div>
                
            </div>
            </div>
        </div>
        <br>
        
    </div>
   </div>
    </div>
</div>

<!-- end how anautomy works section-->
<br>
<br>
<br>
<br>
<br>

<!-- whats next section -->

<div class = "conatiner-fluid layoutContainer">

    <div class = "row nextmaintext">
    <div class = "col-sm-2">
    </div>
    <div class = "col-sm-4">
        <h3>Make a submission</h3>
                <ul>
                  <p class="lead">Your initial submissions are critical in creating our initial database of information. This pricing info is the driver behind the transparency that Anautomy will bring.</p>
              </ul>
                <h3>What's in it for you?</h3>
                <ul>
                  <p class="lead">Initial submitters will have lifetime access to Anautomy, be the first to test drive any new features, and have priority access to our beta test when we launch.</p>
                </ul>
                <h3>Where's the information going?</h3>
                <ul>
                  <p class="lead">This information will be part of our platform and help everyone discover how much others are paying for car repairs.</p>
                </ul>
    </div>
    <div class = "col-sm-6">
    </div>
    </div>
<%= image_tag("jaguar.jpg" ,class: "img-responsive") %>

    <div class = "meshOverlay">
    <%= image_tag("meshwide.png" ,class: "img-responsive") %>
</div>

<div class = "blackOverlay">
    <%= image_tag("black.png" ,class: "img-responsive") %>
</div>
<div class = "greenHeader">
<p class = "bannerText"><span style = "color: black;">get started now </span><span style = "color: white">and improve your car repair service/experience!</span></p>
</div>

    </div>

<!-- end how anautomy works section-->

<!--as seen on section-->
<br>
<br>
<br>
<br>



<!--as seen on section-->