<!-- Page Content -->
<div class="container-fluid mainContainerPadding">

        <div class="row">
            

            <div class="col-sm-6 left-col">
                 <div class = "container-fluid">
                    <h5 class = "newSearchTitle"> CAR SELECT </h5>

                <div class = "row">
    <div class="col-lg-12">
                <section id="basic">

            <select class="basic" select data-custom-id="custom" data-custom-class="custom" data-size="3" data-placeholder-option="true">
                <option value="one">Make</option>
                <option value="one">BMW</option>
                <option value="two">Two</option>
                <option value="three">Three</option>
                <option value="four">Four</option>
                <option value="five">Five</option>
            </select>

            <select class="basic" select data-custom-id="custom" data-custom-class="custom" data-size="3" data-placeholder-option="true">
                <option value="one">Model</option>
                <option value="one">M3</option>
                <option value="two">Two</option>
                <option value="three">Three</option>
                <option value="four">Four</option>
                <option value="five">Five</option>
            </select>

            <select class="basic" select data-custom-id="custom" data-custom-class="custom" data-size="3" data-placeholder-option="true">
                <option value="one">Year</option>
                <option value="one">2003</option>
                <option value="two">Two</option>
                <option value="three">Three</option>
                <option value="four">Four</option>
                <option value="five">Five</option>
                <option value="four">Four</option>
                <option value="five">Five</option>
            </select>

            <select class="basic" select data-custom-id="custom" data-custom-class="custom" data-size="3" data-placeholder-option="true">
                <option value="one">Trim</option>
                <option value="one">SMG</option>
                <option value="two">Two</option>
                <option value="three">Three</option>
                <option value="four">Four</option>
                <option value="five">Five</option>
            </select>

    </section>
     <br>
    <div class = "searchForm">
<div class="input-group">
  <input class="form-control" type="text" placholder = "Zip Code">
  <span><i class="fa fa-search searchButton"></i></span>
</div>
</div>
</div>

</div>
<div class = "row">
<%if !(@repair.blank?)%>
<h5 class = "searchResultsTitle"> <%= @repair %> AND RELATED REPAIRS FOR THE <%= @car %> </h5>
    <div id="top_repair">
  <h4><ul class = "repairCategoryTitle"><%=@repair%><span class = "totalSubmissionsText">(Total <%= rand(30..80) %> Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-sm-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$<%= @average_repair_cost %> </span></p>
</div>
<div class = "col-sm-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$<%=@average_parts_cost%>/$<%=@average_labor_cost%></span></p>
</div>
<p class = "text-center ">Price Range</p>
<div class = "col-sm-5 repairRangePositioning">
    <input type="text" id="range" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
</div>
</div>

<div id="top_repair2">
  <h4><ul class = "repairCategoryTitle">Flywheel Replacement<span class = "totalSubmissionsText">(Total <%= rand(30..80) %> Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-sm-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-sm-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center ">Price Range</p>
<div class = "col-sm-5 repairRangePositioning">
    <input type="text" id="range" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
  </div>
</div>


<div id="top_repair3">
  <h4><ul class = "repairCategoryTitle">Rear Differential<span class = "totalSubmissionsText">(Total <%= rand(30..80) %> Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-sm-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-sm-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-sm-5 repairRangePositioning">
    <input type="text" id="range" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
  </div>
</div>
<% end %>


<h5 class = "searchResultsTitle"> COMMON SERVICES AND REPAIRS FOR THE <%= @car %> </h5>
  <div id="repairCategories">
  <h3><span class = "repairCategoryTitle">ENGINE </span><span class = "totalSubmissionsTextMain">(Total <%= rand(50..150) %> Repairs)</span><i class="fa fa-angle-right mainCategoryIcon"></i></h3>
  <div>
    <div id="engineRepairs">
  <h4><ul class = "specificRepairCategoryTitle">Fuel Injector Replacement <span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-sm-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-sm-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-sm-5 repairRangePositioning">
    <input type="text" id="range" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
  </div>
  


  <h4><ul class = "specificRepairCategoryTitle">Fuel Pump Replacement  <span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-xs-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-xs-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-xs-5 repairRangePositioning">
     <input type="text" id="range2" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
  </div>
  


  <h4><ul class = "specificRepairCategoryTitle">Head Gasket(s) Replacement<span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-xs-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-xs-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-xs-5 repairRangePositioning">
     <input type="text" id="range3" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
  </div>



  <h4><ul class = "specificRepairCategoryTitle">Ignition Coil Replacement <span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-xs-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-xs-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-xs-5 repairRangePositioning">
     <input type="text" id="range4" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
  </div>

  <h4><ul class = "specificRepairCategoryTitle">Timing Belt Replacement<span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-sm-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-sm-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-sm-5 repairRangePositioning">
    <input type="text" id="range" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
  </div>
  


  <h4><ul class = "specificRepairCategoryTitle">Fuel Pump Replacement  <span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-xs-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-xs-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-xs-5 repairRangePositioning">
     <input type="text" id="range2" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
  </div>
  


  <h4><ul class = "specificRepairCategoryTitle">Head Gasket(s) Replacement <span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-xs-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-xs-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-xs-5 repairRangePositioning">
     <input type="text" id="range3" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
  </div>



  <h4><ul class = "specificRepairCategoryTitle">Ignition Coil Replacement <span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-xs-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-xs-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-xs-5 repairRangePositioning">
     <input type="text" id="range4" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
  </div>

<h4><ul class = "specificRepairCategoryTitle">Ignition Coil Replacement <span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-xs-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-xs-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-xs-5 repairRangePositioning">
     <input type="text" id="range4" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
  </div>



  <h4><ul class = "specificRepairCategoryTitle">Fuel Injector Replacement <span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-sm-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-sm-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-sm-5 repairRangePositioning">
    <input type="text" id="range" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
  </div>
  


  <h4><ul class = "specificRepairCategoryTitle">Fuel Pump Replacement  <span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-xs-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-xs-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-xs-5 repairRangePositioning">
     <input type="text" id="range2" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
  </div>
  


  <h4><ul class = "specificRepairCategoryTitle">Head Gasket(s) Replacement <span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-xs-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-xs-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-xs-5 repairRangePositioning">
     <input type="text" id="range3" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
  </div>



  <h4><ul class = "specificRepairCategoryTitle">Ignition Coil Replacement <span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-xs-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-xs-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-xs-5 repairRangePositioning">
     <input type="text" id="range4" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
  </div>

<h4><ul class = "specificRepairCategoryTitle">Ignition Coil Replacement <span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-xs-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-xs-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-xs-5 repairRangePositioning">
     <input type="text" id="range4" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
  </div>


</div>
  </div>

  <h3><span class = "repairCategoryTitle">Transmission </span><span class = "totalSubmissionsTextMain">(Total <%= rand(50..150) %> Repairs)</span><i class="fa fa-angle-right mainCategoryIcon"></i></h3>
  <div>
    <div id="transmissionRepairs">
  <h4><ul class = "specificRepairCategoryTitle">Clutch<span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-sm-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-sm-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-sm-5 repairRangePositioning">
    <input type="text" id="range" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
  </div>
  


  <h4><ul class = "specificRepairCategoryTitle">Fuel Pump Replacement  <span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-xs-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-xs-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-xs-5 repairRangePositioning">
     <input type="text" id="range2" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
  </div>
  


  <h4><ul class = "specificRepairCategoryTitle">Head Gasket(s) Replacement<span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-xs-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-xs-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-xs-5 repairRangePositioning">
     <input type="text" id="range3" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
  </div>



  <h4><ul class = "specificRepairCategoryTitle">Ignition Coil Replacement <span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-xs-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-xs-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-xs-5 repairRangePositioning">
     <input type="text" id="range4" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
  </div>

  <h4><ul class = "specificRepairCategoryTitle">Timing Belt Replacement<span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-sm-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-sm-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-sm-5 repairRangePositioning">
    <input type="text" id="range" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
  </div>
  


  <h4><ul class = "specificRepairCategoryTitle">Fuel Pump Replacement  <span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-xs-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-xs-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-xs-5 repairRangePositioning">
     <input type="text" id="range2" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
  </div>
  


  <h4><ul class = "specificRepairCategoryTitle">Head Gasket(s) Replacement <span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-xs-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-xs-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-xs-5 repairRangePositioning">
     <input type="text" id="range3" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
  </div>



  <h4><ul class = "specificRepairCategoryTitle">Ignition Coil Replacement <span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-xs-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-xs-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-xs-5 repairRangePositioning">
     <input type="text" id="range4" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
  </div>

<h4><ul class = "specificRepairCategoryTitle">Ignition Coil Replacement <span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-xs-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-xs-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-xs-5 repairRangePositioning">
     <input type="text" id="range4" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
  </div>



  <h4><ul class = "specificRepairCategoryTitle">Fuel Injector Replacement <span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-sm-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-sm-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-sm-5 repairRangePositioning">
    <input type="text" id="range" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
  </div>
  


  <h4><ul class = "specificRepairCategoryTitle">Fuel Pump Replacement  <span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-xs-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-xs-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-xs-5 repairRangePositioning">
     <input type="text" id="range2" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
  </div>
  


  <h4><ul class = "specificRepairCategoryTitle">Head Gasket(s) Replacement <span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-xs-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-xs-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-xs-5 repairRangePositioning">
     <input type="text" id="range3" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
  </div>



  <h4><ul class = "specificRepairCategoryTitle">Ignition Coil Replacement <span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-xs-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-xs-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-xs-5 repairRangePositioning">
     <input type="text" id="range4" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
  </div>

<h4><ul class = "specificRepairCategoryTitle">Ignition Coil Replacement <span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-xs-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-xs-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-xs-5 repairRangePositioning">
     <input type="text" id="range4" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
  </div>


</div>
  </div>


  <h3><span class = "repairCategoryTitle">EXHAUST &amp; EMISSIONS</span><span class = "totalSubmissionsTextMain">(Total <%= rand(50..150) %> Submissions)</span><i class="fa fa-angle-right mainCategoryIcon"></i></h3>
  <div>
    <div id="exhaustEmissionsRepairs"> 
  



  <h4><ul class = "specificRepairCategoryTitle">Exhaust Pipe Repair<span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-sm-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-sm-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-sm-5 repairRangePositioning">
    <input type="text" id="range" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
  </div>
  


  <h4><ul class = "specificRepairCategoryTitle">Tail Pipe Repair<span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-xs-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-xs-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-xs-5 repairRangePositioning">
     <input type="text" id="range2" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
  </div>
  


  <h4><ul class = "specificRepairCategoryTitle">Crossover Pipe Repair <span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-xs-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-xs-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-xs-5 repairRangePositioning">
     <input type="text" id="range3" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
  </div>



  <h4><ul class = "specificRepairCategoryTitle">Exhaust Manifold Repair<span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-xs-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-xs-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-xs-5 repairRangePositioning">
     <input type="text" id="range4" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
  </div>

  <h4><ul class = "specificRepairCategoryTitle">Catalytic Converter Repair<span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-sm-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-sm-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-sm-5 repairRangePositioning">
    <input type="text" id="range" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
  </div>
  


  <h4><ul class = "specificRepairCategoryTitle">Gasket Replacement <span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-xs-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-xs-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-xs-5 repairRangePositioning">
     <input type="text" id="range2" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
  </div>
  


  <h4><ul class = "specificRepairCategoryTitle">Muffler Repair <span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-xs-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-xs-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-xs-5 repairRangePositioning">
     <input type="text" id="range3" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
  </div>



  <h4><ul class = "specificRepairCategoryTitle">Resonator Repair <span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-xs-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-xs-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-xs-5 repairRangePositioning">
     <input type="text" id="range4" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
  </div>

<h4><ul class = "specificRepairCategoryTitle">Ignition Coil Replacement <span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-xs-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-xs-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-xs-5 repairRangePositioning">
     <input type="text" id="range4" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
  </div>



  <h4><ul class = "specificRepairCategoryTitle">Fuel Injector Replacement <span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-sm-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-sm-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-sm-5 repairRangePositioning">
    <input type="text" id="range" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
  </div>
  


  <h4><ul class = "specificRepairCategoryTitle">Fuel Pump Replacement  <span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-xs-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-xs-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-xs-5 repairRangePositioning">
     <input type="text" id="range2" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
  </div>
  


  <h4><ul class = "specificRepairCategoryTitle">Head Gasket(s) Replacement <span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-xs-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-xs-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-xs-5 repairRangePositioning">
     <input type="text" id="range3" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
  </div>



  <h4><ul class = "specificRepairCategoryTitle">Ignition Coil Replacement <span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-xs-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-xs-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-xs-5 repairRangePositioning">
     <input type="text" id="range4" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
  </div>

<h4><ul class = "specificRepairCategoryTitle">Ignition Coil Replacement <span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-xs-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-xs-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-xs-5 repairRangePositioning">
     <input type="text" id="range4" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
  </div>




</div>
  </div>



  <h3><span class = "repairCategoryTitle">BRAKES</span><span class = "totalSubmissionsTextMain">(Total <%= rand(50..150) %> Submissions)</span><i class="fa fa-angle-right mainCategoryIcon"></i></h3>
  <div>
    <div id="brakesRepairs"> 
  



  <h4><ul class = "specificRepairCategoryTitle">Brake Pads Replacement<span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-sm-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-sm-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-sm-5 repairRangePositioning">
    <input type="text" id="range" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
  </div>
  


  <h4><ul class = "specificRepairCategoryTitle">Hose &amp; Line Replacement<span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-xs-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-xs-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-xs-5 repairRangePositioning">
     <input type="text" id="range2" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
  </div>
  


  <h4><ul class = "specificRepairCategoryTitle">Fluid Exchange<span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-xs-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-xs-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-xs-5 repairRangePositioning">
     <input type="text" id="range3" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
  </div>



  <h4><ul class = "specificRepairCategoryTitle">Hydraulics Repair<span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-xs-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-xs-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-xs-5 repairRangePositioning">
     <input type="text" id="range4" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
  </div>

  <h4><ul class = "specificRepairCategoryTitle">Emergency Brakes Repair<span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-sm-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-sm-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-sm-5 repairRangePositioning">
    <input type="text" id="range" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
  </div>
  


  <h4><ul class = "specificRepairCategoryTitle">Rear Drum Repair<span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-xs-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-xs-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-xs-5 repairRangePositioning">
     <input type="text" id="range2" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
  </div>
  


  <h4><ul class = "specificRepairCategoryTitle">Chemical Brake Fluid Service<span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-xs-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-xs-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-xs-5 repairRangePositioning">
     <input type="text" id="range3" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
  </div>



  <h4><ul class = "specificRepairCategoryTitle">Brake Rotor Replacement<span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-xs-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-xs-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-xs-5 repairRangePositioning">
     <input type="text" id="range4" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
  </div>

<h4><ul class = "specificRepairCategoryTitle">Brake Lining Replacement<span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-xs-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-xs-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-xs-5 repairRangePositioning">
     <input type="text" id="range4" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
  </div>



  <h4><ul class = "specificRepairCategoryTitle">ABS Repair<span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-sm-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-sm-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-sm-5 repairRangePositioning">
    <input type="text" id="range" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
  </div>
  


  <h4><ul class = "specificRepairCategoryTitle">Wheel Cylinders Repair<span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-xs-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-xs-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-xs-5 repairRangePositioning">
     <input type="text" id="range2" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
  </div>
  


  <h4><ul class = "specificRepairCategoryTitle">Shoe Replacement <span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-xs-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-xs-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-xs-5 repairRangePositioning">
     <input type="text" id="range3" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
  </div>



  <h4><ul class = "specificRepairCategoryTitle">Master Cylinders Replacement<span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-xs-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-xs-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-xs-5 repairRangePositioning">
     <input type="text" id="range4" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
  </div>

<h4><ul class = "specificRepairCategoryTitle">Caliper Replacement<span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-xs-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-xs-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-xs-5 repairRangePositioning">
     <input type="text" id="range4" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
  </div>

</div>
  </div>



  <h3><span class = "repairCategoryTitle">ELECTRICAL &amp; LIGHTS </span><span class = "totalSubmissionsTextMain">(Total <%= rand(50..150) %> Submissions)</span><i class="fa fa-angle-right mainCategoryIcon"></i></h3>
  <div>
    <div id="electricalLightsRepairs"> 
  <h4><ul class = "specificRepairCategoryTitle">Heater &amp; AC Controls <span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-sm-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-sm-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-sm-5 repairRangePositioning">
    <input type="text" id="range" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
  </div>
  


  <h4><ul class = "specificRepairCategoryTitle">Door Locks<span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-xs-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-xs-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-xs-5 repairRangePositioning">
     <input type="text" id="range2" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
  </div>
  


  <h4><ul class = "specificRepairCategoryTitle">Cruise Control<span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-xs-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-xs-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-xs-5 repairRangePositioning">
     <input type="text" id="range3" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
  </div>



  <h4><ul class = "specificRepairCategoryTitle">Starter &amp; Alternator<span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-xs-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-xs-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-xs-5 repairRangePositioning">
     <input type="text" id="range4" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
  </div>

  <h4><ul class = "specificRepairCategoryTitle">Battery Replacement <span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-sm-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-sm-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-sm-5 repairRangePositioning">
    <input type="text" id="range" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
  </div>
  


  <h4><ul class = "specificRepairCategoryTitle">Warning Lights<span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-xs-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-xs-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-xs-5 repairRangePositioning">
     <input type="text" id="range2" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
  </div>
  


  <h4><ul class = "specificRepairCategoryTitle">Power Windows<span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-xs-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-xs-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-xs-5 repairRangePositioning">
     <input type="text" id="range3" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
  </div>



  <h4><ul class = "specificRepairCategoryTitle">Power Steering<span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-xs-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-xs-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-xs-5 repairRangePositioning">
     <input type="text" id="range4" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
  </div>

<h4><ul class = "specificRepairCategoryTitle">Headlights<span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-xs-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-xs-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-xs-5 repairRangePositioning">
     <input type="text" id="range4" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
  </div>



  <h4><ul class = "specificRepairCategoryTitle">Tail Lights<span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-sm-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-sm-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-sm-5 repairRangePositioning">
    <input type="text" id="range" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
  </div>
  


  <h4><ul class = "specificRepairCategoryTitle">Windshield Wipers<span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-xs-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-xs-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-xs-5 repairRangePositioning">
     <input type="text" id="range2" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
  </div>
  


  <h4><ul class = "specificRepairCategoryTitle">Defroster<span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-xs-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-xs-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-xs-5 repairRangePositioning">
     <input type="text" id="range3" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
  </div>


</div>
  </div>






  <h3><span class = "repairCategoryTitle">SUSPENSION &amp; STEERING </span><span class = "totalSubmissionsTextMain">(Total <%= rand(50..150) %> Submissions)</span><i class="fa fa-angle-right mainCategoryIcon"></i></h3>
  <div>
    <div id="suspensionSteeringRepairs">
  

  <h4><ul class = "specificRepairCategoryTitle">Fuel Injector Replacement <span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-sm-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-sm-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-sm-5 repairRangePositioning">
    <input type="text" id="range" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
  </div>
  


  <h4><ul class = "specificRepairCategoryTitle">Fuel Pump Replacement  <span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-xs-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-xs-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-xs-5 repairRangePositioning">
     <input type="text" id="range2" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
  </div>
  


  <h4><ul class = "specificRepairCategoryTitle">Head Gasket(s) Replacement <span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-xs-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-xs-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-xs-5 repairRangePositioning">
     <input type="text" id="range3" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
  </div>



  <h4><ul class = "specificRepairCategoryTitle">Ignition Coil Replacement <span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-xs-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-xs-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-xs-5 repairRangePositioning">
     <input type="text" id="range4" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
  </div>

  <h4><ul class = "specificRepairCategoryTitle">Fuel Injector Replacement <span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-sm-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-sm-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-sm-5 repairRangePositioning">
    <input type="text" id="range" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
  </div>
  


  <h4><ul class = "specificRepairCategoryTitle">Fuel Pump Replacement  <span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-xs-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-xs-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-xs-5 repairRangePositioning">
     <input type="text" id="range2" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
  </div>
  


  <h4><ul class = "specificRepairCategoryTitle">Head Gasket(s) Replacement <span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-xs-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-xs-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-xs-5 repairRangePositioning">
     <input type="text" id="range3" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
  </div>



  <h4><ul class = "specificRepairCategoryTitle">Ignition Coil Replacement <span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-xs-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-xs-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-xs-5 repairRangePositioning">
     <input type="text" id="range4" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
  </div>

<h4><ul class = "specificRepairCategoryTitle">Ignition Coil Replacement <span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-xs-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-xs-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-xs-5 repairRangePositioning">
     <input type="text" id="range4" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
  </div>



  <h4><ul class = "specificRepairCategoryTitle">Fuel Injector Replacement <span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-sm-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-sm-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-sm-5 repairRangePositioning">
    <input type="text" id="range" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
  </div>
  


  <h4><ul class = "specificRepairCategoryTitle">Fuel Pump Replacement  <span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-xs-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-xs-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-xs-5 repairRangePositioning">
     <input type="text" id="range2" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
  </div>
  


  <h4><ul class = "specificRepairCategoryTitle">Head Gasket(s) Replacement <span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-xs-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-xs-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-xs-5 repairRangePositioning">
     <input type="text" id="range3" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
  </div>



  <h4><ul class = "specificRepairCategoryTitle">Ignition Coil Replacement <span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-xs-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-xs-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-xs-5 repairRangePositioning">
     <input type="text" id="range4" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
  </div>

<h4><ul class = "specificRepairCategoryTitle">Ignition Coil Replacement <span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-xs-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-xs-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-xs-5 repairRangePositioning">
     <input type="text" id="range4" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
  </div>


</div>
  </div>



  <h3><span class = "repairCategoryTitle">HEATING &amp; AIR CONDITIONING </span><span class = "totalSubmissionsTextMain">(Total <%= rand(50..150) %> Submissions)</span><i class="fa fa-angle-right mainCategoryIcon"></i></h3>
  <div>
     <div id="suspensionSteeringRepairs"> 
  

  <h4><ul class = "specificRepairCategoryTitle">Fuel Injector Replacement <span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-sm-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-sm-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-sm-5 repairRangePositioning">
    <input type="text" id="range" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
  </div>
  


  <h4><ul class = "specificRepairCategoryTitle">Fuel Pump Replacement  <span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-xs-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-xs-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-xs-5 repairRangePositioning">
     <input type="text" id="range2" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
  </div>
  


  <h4><ul class = "specificRepairCategoryTitle">Head Gasket(s) Replacement <span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-xs-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-xs-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-xs-5 repairRangePositioning">
     <input type="text" id="range3" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
  </div>



  <h4><ul class = "specificRepairCategoryTitle">Ignition Coil Replacement <span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-xs-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-xs-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-xs-5 repairRangePositioning">
     <input type="text" id="range4" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
  </div>

  <h4><ul class = "specificRepairCategoryTitle">Fuel Injector Replacement <span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-sm-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-sm-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-sm-5 repairRangePositioning">
    <input type="text" id="range" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
  </div>
  


  <h4><ul class = "specificRepairCategoryTitle">Fuel Pump Replacement  <span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-xs-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-xs-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-xs-5 repairRangePositioning">
     <input type="text" id="range2" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
  </div>
  


  <h4><ul class = "specificRepairCategoryTitle">Head Gasket(s) Replacement <span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-xs-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-xs-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-xs-5 repairRangePositioning">
     <input type="text" id="range3" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
  </div>



  <h4><ul class = "specificRepairCategoryTitle">Ignition Coil Replacement <span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-xs-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-xs-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-xs-5 repairRangePositioning">
     <input type="text" id="range4" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
  </div>

<h4><ul class = "specificRepairCategoryTitle">Ignition Coil Replacement <span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-xs-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-xs-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-xs-5 repairRangePositioning">
     <input type="text" id="range4" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
  </div>



  <h4><ul class = "specificRepairCategoryTitle">Fuel Injector Replacement <span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-sm-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-sm-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-sm-5 repairRangePositioning">
    <input type="text" id="range" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
  </div>
  


  <h4><ul class = "specificRepairCategoryTitle">Fuel Pump Replacement  <span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-xs-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-xs-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-xs-5 repairRangePositioning">
     <input type="text" id="range2" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
  </div>
  


  <h4><ul class = "specificRepairCategoryTitle">Head Gasket(s) Replacement <span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-xs-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-xs-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-xs-5 repairRangePositioning">
     <input type="text" id="range3" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
  </div>



  <h4><ul class = "specificRepairCategoryTitle">Ignition Coil Replacement <span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-xs-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-xs-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-xs-5 repairRangePositioning">
     <input type="text" id="range4" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
  </div>

<h4><ul class = "specificRepairCategoryTitle">Ignition Coil Replacement <span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-xs-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-xs-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-xs-5 repairRangePositioning">
     <input type="text" id="range4" value="" name="range" />
</div>
</div>
<%= link_to "<i class = 'fa fa-caret-right repairIcon'></i>".html_safe, anautomy_submissions_path%>
  </div>





  </div>
</div>
</div>
</div>
<br>
<br>
<br>

</div>
      </div>
<div class = "container-fluid">
      <div class="col-sm-6 right-col backgroundVehicleImage" style = " background: url(<%= @image_link %>) no-repeat center center; background-size: auto 100%;">
        <!-- update the right side of the page to make responsive -->
        <div class="my-container ">
            <div class = "topBlock text-center">
                <h2 class = "rightHeader"><%= @car %></h2>
                <p class="carDatabox"><span class = "categoryHeader">Owner Rating</span><span class = "carData">4.5/5</span></p>
                        <p class="carDatabox"><span class = "categoryHeader">Maintenance Rating</span><span class = "carData">$$$</span></p>
                        <p class="carDatabox"><span class = "categoryHeader">5 year cost to own</span><span class = "carData">145,000</span></p>
                        <p class="carDatabox"><span class = "categoryHeader">Enter Miles for Average KBB Value</span><span class = "carData">KBB Value: $11,536</span></p>
            </div>
            <div class = "bottomBlock text-center">
               <div class = "centerLine"></div>
                <div class = "leftBlock">
                    <h5 class = "subHeader carSubheader"><%= @car %> REVIEWS</h5>
                <p class="bottomCarDatabox"><span class = "categoryHeader">Car &amp; Driver</span><span class = "bottomCarData">8.8/10</span></p>
                <p class="bottomCarDatabox"><span class = "categoryHeader">Car Guru's</span><span class = "bottomCarData">4.8/5</span></p>
            </div>
            <div class = "rightBlock">
                <h5 class = "subHeader">RELATED VEHICLES</h5>
                <p class="bottomCarDatabox"><span class = "categoryHeader">Audi A4</span><span class = "bottomCarData">4.2/5</span></p>
                <p class="bottomCarDatabox"><span class = "categoryHeader">Mercedes C-Class</span><span class = "bottomCarData">4.5/5</span></p>
            </div>
            </div>
    <%= image_tag("mesh.png" ,class: "img-responsive") %>
    <%= image_tag("black.png" ,class: "img-responsive") %>

</div>


  </div>
</div>
  <!--<p class="repairCostBox"><span>Owner Rating</span><span class = "repairCostBoxPrice">4.5/5</span></p>
                        <p class="repairCostBox"><span>Maintenance Rating</span><span class = "repairCostBoxPrice">$$$</span></p>
                        <p class="repairCostBox"><span>5 year cost to own</span><span class = "repairCostBoxPrice">145,000</span></p>
                        <p class="repairCostBox"><span>Enter Miles for Average KBB Value</span><span class = "repairCostBoxPrice">KBB Value: $11,536</span></p>-->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->

    <!-- jQuery Version 1.11.1 -->
    <%= javascript_include_tag "jquery.js" %>

    <!-- Bootstrap Core JavaScript -->
    <%= javascript_include_tag "bootstrap.min.js" %>

    <!-- <script src="!inc/js/jquery-2.1.0.min.js"></script> -->
    <%= javascript_include_tag "jquery-1.8.0.min.js" %>

    <%= javascript_include_tag "selectordie.js" %>
    <%= javascript_include_tag "demo.js" %>

    <%= javascript_include_tag "jquery-ui.js" %>
    <%= javascript_include_tag "jquery.litelighter.js" %>

    <!--Range slider-->
    <%= javascript_include_tag "ion.rangeSlider.js" %>
    

    <script>
$("select").selectOrDie();

$("#repairCategories").accordion({
      collapsible: true,
      active: false,
      animate: 450,
      heightStyle: "content",
      header: "h3",
      fillSpace: true
  });

$("#engineRepairs, #exhaustEmissionsRepairs, #brakesRepairs, #electricalLightsRepairs, #suspensionSteeringRepairs, #suspensionSteeringRepairs, #transmissionRepairs").accordion({
      collapsible: true,
      active: false,
      animate: 450,
      heightStyle: "content",
      header: "h4",
      fillSpace: true
    });

$( "#top_repair").accordion({
      collapsible: true,
      active: true,
      animate: 450,
      heightStyle: "content",
      header: "h4",
      fillSpace: true
    });

$( "#top_repair2").accordion({
      collapsible: true,
      active: true,
      animate: 450,
      heightStyle: "content",
      header: "h4",
      fillSpace: true
    });
$( "#top_repair3").accordion({
      collapsible: true,
      active: true,
      animate: 450,
      heightStyle: "content",
      header: "h4",
      fillSpace: true
    });

jQuery('#repairCategories h3').click(function() {
    jQuery(this).toggleClass('active').find('i').toggleClass('fa-angle-right fa-angle-down')
           .closest('h3').siblings('h3')
           .removeClass('active').find('i')
           .removeClass('fa-angle-right').addClass('fa-angle-down');


     jQuery(this).next('.repairName').slideToggle().siblings('.repairName').slideUp();
});


        $("#range, #range2, #range3, #range4").ionRangeSlider({
            hide_min_max: true,
            keyboard: true,
            min: 0,
            max: 5000,
            from: 1000,
            to: 4000,
            disable: true,
            type: 'double',
            step: 1,
            prefix: "$",
            grid: true,
             prettify_enabled: true,
             prettify_separator: ","
        });




    </script>
<!-- Source http://stackoverflow.com/questions/21166436/jquery-accordion-change-font-awesome-icon-class-on-click -->