<!-- Page Content -->
    <div class="container-fluid">

        <div class="row">
            

            <div class="col-sm-6 left-col">
                 <div class = "container-fluid">
                    <h5 class = "newSearchTitle"> CAR SELECT </h5>

<div class = "row">
    <div class="col-sm-6">
                <section id="basic">

            <select class="basic" select data-custom-id="custom" data-custom-class="custom" data-size="3" data-placeholder-option="true">
                <option value="one">Make</option>
                <option value="one">BMW</option>
                <option value="two">Two</option>
                <option value="three">Three</option>
                <!--<optgroup label="Option Group Label">
                    <option value="group.one">Option Group.One</option>
                    <option value="group.two">Option Group.Two</option>
                </optgroup>-->
                <option value="four">Four</option>
                <option value="five">Five</option>
            </select>

            <select class="basic" select data-custom-id="custom" data-custom-class="custom" data-size="3" data-placeholder-option="true">
                <option value="one">Model</option>
                <option value="one">M3</option>
                <option value="two">Two</option>
                <option value="three">Three</option>
                <!--<optgroup label="Option Group Label">
                    <option value="group.one">Option Group.One</option>
                    <option value="group.two">Option Group.Two</option>
                </optgroup>-->
                <option value="four">Four</option>
                <option value="five">Five</option>
            </select>

            <select class="basic" select data-custom-id="custom" data-custom-class="custom" data-size="3" data-placeholder-option="true">
                <option value="one">Year</option>
                <option value="one">2003</option>
                <option value="two">Two</option>
                <option value="three">Three</option>
                <!--<optgroup label="Option Group Label">
                    <option value="group.one">Option Group.One</option>
                    <option value="group.two">Option Group.Two</option>
                </optgroup>-->
                <option value="four">Four</option>
                <option value="five">Five</option>
                <option value="four">Four</option>
                <option value="five">Five</option>
            </select>

            <select class="basic" select data-custom-id="custom" data-custom-class="custom" data-size="3" data-placeholder-option="true">
                <option value="one">Trim</option>
                <option value="one">SMG</option>
                <option value="two">Two</option>
                <option value="three">Three</option>
                <!--<optgroup label="Option Group Label">
                    <option value="group.one">Option Group.One</option>
                    <option value="group.two">Option Group.Two</option>
                </optgroup>-->
                <option value="four">Four</option>
                <option value="five">Five</option>
            </select>

    </section>
</div>
<div class="col-sm-6">
    <br>
<div class = "searchForm">
<div class="input-group">
  <input class="form-control" type="text">
  <span><i class="fa fa-search searchButton"></i></span>
</div>
</div>
</div>

</div>

<br>
<br>
<br>
<ul class = "hiddenDataMessage">*To see details for all submissions, create a free account and submit at least once.</ul>
<h5 class = "submissionsRepairTitle"><ul>REPAIR DETAILS FOR (<%= @car %>)</ul></h5>

<div class = "allSubissionsBlock container-fluid">
<div class = "conatiner-fluid submissionBlock"> 
    <div class = "row">
    <div class = "col-sm-3">
    <p class="text-center submissionBox"><span class>Submission</span><span class = "shopName">AMX Auto</span></p>
</div>
<div class = "col-sm-3">
    <p class="text-center submissionBlockPositioning" ><span>Total Cost</span><span class = "repairCostBoxPriceSubmissionsPage">$260/$576</span></p>
</div>
<div class = "col-sm-3">
    <p class="text-center submissionBlockPositioning" ><span>Parts/Labor</span><span class = "repairCostBoxPriceSubmissionsPage">$260/$576</span></p>
</div>
<div class = "col-sm-2">
    <p class="text-center submissionBlockPositioning"><span class = " rating star5"></span><span class = "reviewText"><a href = "#review">Read Full Review</span></p>
</div>
<div class = "col-sm-1">
    <a href = "#submission"><i class="fa fa-caret-right submissionRepairIcon"></i></a>
</div>
</div>
  </div>

  <div class = "conatiner-fluid submissionBlock"> 
    <div class = "row">
    <div class = "col-sm-3">
    <p class="text-center submissionBox"><span class>Submission</span><span class = "shopName">Exotic Motorsports</span></p>
</div>
<div class = "col-sm-3">
    <p class="text-center submissionBlockPositioning" ><span>Total Cost</span><span class = "repairCostBoxPriceSubmissionsPage">$260/$576</span></p>
</div>
<div class = "col-sm-3">
    <p class="text-center submissionBlockPositioning" ><span>Parts/Labor</span><span class = "repairCostBoxPriceSubmissionsPage">$260/$576</span></p>
</div>
<div class = "col-sm-2">
    <p class="text-center submissionBlockPositioning"><span class = " rating half4star"></span><span><a href = "#review">Read Full Review</span></p>
</div>
<div class = "col-sm-1">
    <a href = "#submission"><i class="fa fa-caret-right submissionRepairIcon"></i></a>
</div>
</div>
  </div>


  <div class = "conatiner-fluid submissionBlock"> 
    <div class = "row">
    <div class = "col-sm-3">
    <p class="text-center submissionBox"><span class>Submission</span><span class = "shopName">Ricardos Automotive</span></p>
</div>
<div class = "col-sm-3">
    <p class="text-center submissionBlockPositioning" ><span>Total Cost</span><span class = "repairCostBoxPriceSubmissionsPage">$260/$576</span></p>
</div>
<div class = "col-sm-3">
    <p class="text-center submissionBlockPositioning" ><span>Parts/Labor</span><span class = "repairCostBoxPriceSubmissionsPage">$260/$576</span></p>
</div>
<div class = "col-sm-2">
    <p class="text-center submissionBlockPositioning"><span class = " rating star4"></span><span><a href = "#review">Read Full Review</span></p>
</div>
<div class = "col-sm-1">
    <a href = "#submission"><i class="fa fa-caret-right submissionRepairIcon"></i></a>
</div>
</div>
  </div>

  <div class = "conatiner-fluid submissionBlock"> 
    <div class = "row">
    <div class = "col-sm-3">
    <p class="text-center submissionBox"><span class>Submission</span><span class = "shopName">East Town Auto Body</span></p>
</div>
<div class = "col-sm-3">
    <p class="text-center submissionBlockPositioning" ><span>Total Cost</span><span class = "repairCostBoxPriceSubmissionsPage">$260/$576</span></p>
</div>
<div class = "col-sm-3">
    <p class="text-center submissionBlockPositioning" ><span>Parts/Labor</span><span class = "repairCostBoxPriceSubmissionsPage">$260/$576</span></p>
</div>
<div class = "col-sm-2">
    <p class="text-center submissionBlockPositioning"><span class = " rating half3star"></span><span><a href = "#review">Read Full Review</span></p>
</div>
<div class = "col-sm-1">
    <a href = "#submission"><i class="fa fa-caret-right submissionRepairIcon"></i></a>
</div>
</div>
  </div>

<h6><i class="fa fa-caret-right fa-2x averageBarArrow"></i><span class = "averagePriceBarTitle">Average Price: <strong>$1760</strong></span><i class="fa fa-caret-left fa-2x averageBarArrow"></i></h6>
  <div class = "conatiner-fluid submissionBlock"> 
    <div class = "row">
    <div class = "col-sm-3">
    <p class="text-center submissionBox"><span class>Submission</span><span class = "shopName">Bennys Brakes</span></p>
</div>
<div class = "col-sm-3">
    <p class="text-center submissionBlockPositioning" ><span>Total Cost</span><span class = "repairCostBoxPriceSubmissionsPage">$260/$576</span></p>
</div>
<div class = "col-sm-3">
    <p class="text-center submissionBlockPositioning" ><span>Parts/Labor</span><span class = "repairCostBoxPriceSubmissionsPage">$260/$576</span></p>
</div>
<div class = "col-sm-2">
    <p class="text-center submissionBlockPositioning"><span class = " rating star3"></span><span><a href = "#review">Read Full Review</span></p>
</div>
<div class = "col-sm-1">
    <a href = "#submission"><i class="fa fa-caret-right submissionRepairIcon"></i></a>
</div>
</div>
  </div>



  <div class = "conatiner-fluid submissionBlock"> 
    <div class = "row">
    <div class = "col-sm-3">
    <p class="text-center submissionBox"><span class>Submission</span><span class = "shopName">Uncle Ricos Auto &amp; Body</span></p>
</div>
<div class = "col-sm-3">
    <p class="text-center submissionBlockPositioning" ><span>Total Cost</span><span class = "repairCostBoxPriceSubmissionsPage">$260/$576</span></p>
</div>
<div class = "col-sm-3">
    <p class="text-center submissionBlockPositioning" ><span>Parts/Labor</span><span class = "repairCostBoxPriceSubmissionsPage">$260/$576</span></p>
</div>
<div class = "col-sm-2">
    <p class="text-center submissionBlockPositioning"><span class = " rating half2star"></span><span><a href = "#review">Read Full Review</span></p>
</div>
<div class = "col-sm-1">
    <a href = "#submission"><i class="fa fa-caret-right submissionRepairIcon"></i></a>
</div>
</div>
  </div>



  <div class = "conatiner-fluid submissionBlock"> 
    <div class = "row">
    <div class = "col-sm-3">
    <p class="text-center submissionBox"><span class>Submission</span><span class = "shopName">Shop Name</span></p>
</div>
<div class = "col-sm-3">
    <p class="text-center submissionBlockPositioning" ><span>Total Cost</span><span class = "repairCostBoxPriceSubmissionsPage">$260/$576</span></p>
</div>
<div class = "col-sm-3">
    <p class="text-center submissionBlockPositioning" ><span>Parts/Labor</span><span class = "repairCostBoxPriceSubmissionsPage">$260/$576</span></p>
</div>
<div class = "col-sm-2">
    <p class="text-center submissionBlockPositioning"><span class = " rating star2"></span><span><a href = "#review">Read Full Review</span></p>
</div>
<div class = "col-sm-1">
    <a href = "#submission"><i class="fa fa-caret-right submissionRepairIcon"></i></a>
</div>
</div>
  </div>



  <div class = "conatiner-fluid submissionBlock"> 
    <div class = "row">
    <div class = "col-sm-3">
    <p class="text-center submissionBox"><span class>Submission</span><span class = "shopName">Shop Name</span></p>
</div>
<div class = "col-sm-3">
    <p class="text-center submissionBlockPositioning" ><span>Total Cost</span><span class = "repairCostBoxPriceSubmissionsPage">$260/$576</span></p>
</div>
<div class = "col-sm-3">
    <p class="text-center submissionBlockPositioning" ><span>Parts/Labor</span><span class = "repairCostBoxPriceSubmissionsPage">$260/$576</span></p>
</div>
<div class = "col-sm-2">
    <p class="text-center submissionBlockPositioning"><span class = " rating half1star"></span><span><a href = "#review">Read Full Review</span></p>
</div>
<div class = "col-sm-1">
    <a href = "#submission"><i class="fa fa-caret-right submissionRepairIcon"></i></a>
</div>
</div>
  </div>


  <div class = "conatiner-fluid submissionBlock"> 
    <div class = "row">
    <div class = "col-sm-3">
    <p class="text-center submissionBox"><span class>Submission</span><span class = "shopName">Shop Name</span></p>
</div>
<div class = "col-sm-3">
    <p class="text-center submissionBlockPositioning" ><span>Total Cost</span><span class = "repairCostBoxPriceSubmissionsPage">$260/$576</span></p>
</div>
<div class = "col-sm-3">
    <p class="text-center submissionBlockPositioning" ><span>Parts/Labor</span><span class = "repairCostBoxPriceSubmissionsPage">$260/$576</span></p>
</div>
<div class = "col-sm-2">
    <p class="text-center submissionBlockPositioning"><span class = " rating star1"></span><span><a href = "#review">Read Full Review</span></p>
</div>
<div class = "col-sm-1">
    <a href = "#submission"><i class="fa fa-caret-right submissionRepairIcon"></i></a>
</div>
</div>
  </div>


  <div class = "conatiner-fluid submissionBlock"> 
    <div class = "row">
    <div class = "col-sm-3">
    <p class="text-center submissionBox"><span class>Submission</span><span class = "shopName">Shop Name</span></p>
</div>
<div class = "col-sm-3">
    <p class="text-center submissionBlockPositioning" ><span>Total Cost</span><span class = "repairCostBoxPriceSubmissionsPage">$260/$576</span></p>
</div>
<div class = "col-sm-3">
    <p class="text-center submissionBlockPositioning" ><span>Parts/Labor</span><span class = "repairCostBoxPriceSubmissionsPage">$260/$576</span></p>
</div>
<div class = "col-sm-2">
    <p class="text-center submissionBlockPositioning"><span class = " rating halfstar"></span><span><a href = "#review">Read Full Review</span></p>
</div>
<div class = "col-sm-1">
    <a href = "#submission"><i class="fa fa-caret-right submissionRepairIcon"></i></a>
</div>
</div>
  </div>


  <div class = "conatiner-fluid submissionBlock"> 
    <div class = "row">
    <div class = "col-sm-3">
    <p class="text-center submissionBox"><span class>Submission</span><span class = "shopName">Shop Name</span></p>
</div>
<div class = "col-sm-3">
    <p class="text-center submissionBlockPositioning" ><span>Total Cost</span><span class = "repairCostBoxPriceSubmissionsPage">$260/$576</span></p>
</div>
<div class = "col-sm-3">
    <p class="text-center submissionBlockPositioning" ><span>Parts/Labor</span><span class = "repairCostBoxPriceSubmissionsPage">$260/$576</span></p>
</div>
<div class = "col-sm-2">
    <p class="text-center submissionBlockPositioning"><span class = " halfstar rating "></span><span><a href = "#review">Read Full Review</span></p>
</div>
<div class = "col-sm-1">
    <a href = "#submission"><i class="fa fa-caret-right submissionRepairIcon"></i></a>
</div>
</div>
  </div>
</div>
<br>
<br>
<br>

</div>
      </div>
      <div class="col-sm-6 right-col backgroundVehicleImage">

        <div class="my-container2">
            <div class = "topBlock text-left clutchImg">
                <h3 >Repair Details</h3>
                <h4><ul>(Clutch &amp; Flywheel)</ul></h4>
            </div>
            <div class = "bottomBlock text-left">
               <div class = "centerLine2"></div>
                <div class = "detailsLeftBlock">
                  <h5 class = "detailsHeader">DESCRIPTION</h5>
                  <p class = "detailsDescription">- The clutch is a critical component of your vehicle. It is used to engage and disengage the power transmission. Essentially, the clutch gives and cits off power to your vehicle and is an important piece of your transmission...<a href = "#moreinfo">read more</a></p>
                  <h5 class = "detailsHeader">REPAIR/REPLACEMENT URGENCY</h5>
                  <p class = "highUrgencyLevel detailsDescription">Very High</p>
                  <h5 class = "detailsHeader">STANDARD REPLACEMENT TIME</h5>
                  <p class = "detailsDescription">- 100,000 miles on the <%= @car %>, but this is highly variable on clutch shift time and driving style. Individuals experienced in driving manual transmission cars may see more lengevity from their clutch.</p>
            </div>
            <div class = "detailsRightBlock">
                <h5 class = "detailsHeader">SYMPTOMS OF CLUTCH PROBLEMS</h5>
                <p class = "detailsDescription">- Slipping or missing gears, burnt smell from under hood, loose clutch pedal, 'spongy' clutch, <a href = "#seemore">see all</a></p>
                <h5 class = "detailsHeader">IF THIS PART IS NOT REPLACED IMMEDIATELY</h5>
                <p class = "detailsDescription">- You can anticipate major complications while attempting to start your car, drive, or shift gears. It is recommended that this is repaired immediately and the vehicle should not be driven, even to the mechanic/auto shop.</p>
                <h5 class = "detailsHeader">ASSOCIATED DIAGNOOSTIC FAULT CODES</h5>
                <p class = "detailsDescription">- 0028, 0029, 0031, 0035, <a href = "#seeall">see all</a></p>
            </div>
            </div>
    <%= image_tag("mesh.png" ,class: "img-responsive") %>
    <%= image_tag("black.png" ,class: "img-responsive") %>
</div>


  </div>

  <!--<p class="repairCostBox"><span>Owner Rating</span><span class = "repairCostBoxPrice">4.5/5</span></p>
                        <p class="repairCostBox"><span>Maintenance Rating</span><span class = "repairCostBoxPrice">$$$</span></p>
                        <p class="repairCostBox"><span>5 year cost to own</span><span class = "repairCostBoxPrice">145,000</span></p>
                        <p class="repairCostBox"><span>Enter Miles for Average KBB Value</span><span class = "repairCostBoxPrice">KBB Value: $11,536</span></p>-->
        </div>
        <!-- /.row -->
    </div>
    <div class = "container-fluid text-center analyticsSnapshot">
    <h1 class = "analyticsSnapshotTitle">ANALYTICS <i class="fa fa-cogs analyticsSnapshotGears"></i> SNAPSHOT</h1>
    <div class = "row">
      <div class = "col-sm-4">
        <div id="accordion">
  <h3 class = "snapshotTitle">Geographic<i class="fa fa-angle-down snapshotArrowDown"></i></h3>
  <div>
    <p>Zip code <strong>60607</strong> costs <font color = "red">13%</font> above the average for a <strong>Clutch</strong> on <strong><%= @car %></strong>'s<br> <strong>Illinois</strong> costs  <font color = "red">4%</font> above average for a <strong>Clutch</strong> on <strong><%= @car %></strong>'s<br> National Average: <strong>$1,557</strong> <br>Lowest price geography is <strong>Texas</strong> at <strong>$1,360</strong> <br>Highest price geography is <strong>Maryland</strong> at <strong>$1,706</strong> </p>
  </div>
  <h3 class = "snapshotTitle">Comparable Vehicles<i class="fa fa-angle-down snapshotArrowDown"></i></h3>
  <div>
    <p>2003 Audi RS4 - <strong>$1,625</strong><br>
           2003 Mercedes CLK55 AMG - <strong>$1,812</strong><br>
           2003 Cadillac CTS - <strong>$1,435</strong><br></p>
  </div>
  
</div>
    </div>
    <div class = "col-sm-4">
              <div id="accordion2">
 
  <h3 class = "snapshotTitle">Time<i class="fa fa-angle-down snapshotArrowDown"></i></h3>
  <div>
    <p>Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.</p>
  </div>
  <h3 class = "snapshotTitle">Potential Additions<i class="fa fa-angle-down snapshotArrowDown"></i></h3>
  <div>
   <p>Slave cylinders works with the master cyclinder to conver non-hydraulic pressure into hydraulic pressure. Given that SMG vehicles operates with hydraulic clutch systems, slave cyliinders are a common additional replacement and replacing a clutch </p><br> <a>Expected Parts Cost: $87 additional</a> <a>Expected Labor Cost: $60 additional</a></p>
   <p>The flywheel is the rotating component that receives energy which will further transfer the energy to the clutch when the clutch plate becomes in contact with the flywheel itself. Since these components work together very closely, it is very likely that a flywheel replacements will be necessary in addition to the clutch. A bad clutch will cause the flywheel to dull and lose grip </P><br> <a>Expected Parts Cost: $418 additional</a> <a>Expected Labor Cost: $213 additional</a></p>
  </div>
  
</div>

    </div>
    <div class = "col-sm-4">
      <div id="accordion3">
<h3 class = "snapshotTitle">Vehicle<i class="fa fa-angle-down snapshotArrowDown"></i></h3>
  <div>
    <p>Your location -<strong>$1,760</strong><br><%= @car %> - <strong>$1,557</strong> - your vehicle is <font color = "red">13%</font> above this price<br>Previous generation (e36 M3) - <strong> $1,418</strong> - your vehicle is <font color = "red">24%</font> above this price<br>
            Subsequent generation (e90 M3) - <strong> $1,811</strong> - your vehicle is <font color = "green">3%</font> below this price<br>


            All <strong>BMW M3</strong>'s - <strong> $1,665</strong> - your vehicle is <font color = "red">6%</font> above this price<br>


           All <strong>BMW</strong>'s - <strong> $1,406</strong> - your vehicle is <font color = "red">25%</font> above this price<br>

           All comparable <strong>luxury</strong> vehicles <strong>BMW</strong>'s - <strong> $1,361</strong> - your vehicle is <font color = "red">29%</font> above this price<br>

           All vehicles- <strong> $909</strong> - your vehicle is <font color = "red">94%</font> above this price<br></p>
  </div>
  <h3 class = "snapshotTitle">Other Details<i class="fa fa-angle-down snapshotArrowDown"></i></h3>
  <div>
    <p>Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In suscipit faucibus urna.</p>
  </div>


  
</div>
    </div>
  </div>
</div>

<!-- jQuery Version 1.11.1 -->
    <%= javascript_include_tag "jquery.js" %>

    <!-- Bootstrap Core JavaScript -->
    <%= javascript_include_tag "bootstrap.min.js" %>

    <!-- <script src="!inc/js/jquery-2.1.0.min.js"></script> -->

    <%= javascript_include_tag "jquery-1.8.0.min.js" %>


    <%= javascript_include_tag "selectordie.js" %>
    <%= javascript_include_tag "demo.js" %>

    <%= javascript_include_tag "jquery-ui.js" %>
    <%= javascript_include_tag "jquery.litelighter.js" %>

    <!--Range slider-->
    <%= javascript_include_tag "ion.rangeSlider.js" %>

<script>
$("select").selectOrDie();

$( "#accordion, #accordion2, #accordion3" ).accordion({
      collapsible: true,
      heightStyle: "content",
      active: false
    });

    </script>
<!-- Source http://stackoverflow.com/questions/21166436/jquery-accordion-change-font-awesome-icon-class-on-click -->