<!-- Page Content -->
    <div class="container-fluid mainContainerPadding">

        <div class="row">
            

            <div class="col-sm-6 left-col">
                 <div class = "container-fluid">
                    <h5 class = "newSearchTitle"> </h5>

<div class = "row">
    <div class="col-lg-12">
      <!--
                <section id="basic">

            <select class="basic" select data-custom-id="custom" data-custom-class="custom" data-size="3" data-placeholder-option="true">
                <option value="one">Make</option>
                <option value="one">BMW</option>
                <option value="two">Two</option>
                <option value="three">Three</option>
                <option value="four">Four</option>
                <option value="five">Five</option>
            </select>

            <select class="basic" select data-custom-id="custom" data-custom-class="custom" data-size="3" data-placeholder-option="true">
                <option value="one">Model</option>
                <option value="one">M3</option>
                <option value="two">Two</option>
                <option value="three">Three</option>
                <option value="four">Four</option>
                <option value="five">Five</option>
            </select>

            <select class="basic" select data-custom-id="custom" data-custom-class="custom" data-size="3" data-placeholder-option="true">
                <option value="one">Year</option>
                <option value="one">2003</option>
                <option value="two">Two</option>
                <option value="three">Three</option>
                <option value="four">Four</option>
                <option value="five">Five</option>
                <option value="four">Four</option>
                <option value="five">Five</option>
            </select>

            <select class="basic" select data-custom-id="custom" data-custom-class="custom" data-size="3" data-placeholder-option="true">
                <option value="one">Trim</option>
                <option value="one">SMG</option>
                <option value="two">Two</option>
                <option value="three">Three</option>
                <option value="four">Four</option>
                <option value="five">Five</option>
            </select>

    </section>
  -->
     <br>
    <div class = "searchForm">
<div class="input-group">
  <input class="form-control" type="text" placholder = "Zip Code">
  <span><i class="fa fa-search searchButton"></i></span>
</div>
</div>
</div>

</div>
<ul class = "hiddenDataMessage">*To see details for all submissions, create a free account and submit at least once.</ul>
<div class = "submissionsRepairTitle">
<h5><ul>REPAIR DETAILS FOR <%=@repair%> (<%= @car %>)</ul></h5>
</div>
<div class = "allSubissionsBlock container-fluid main_tool_tip" title = "We'll only show you what matters - shops with above average rating that charged a below average price for this repair.">
<div class = " submissionBlock"> 
    <div class = "row">
    <div class = "col-md-3 col-md-offset-0 col-xs-8 col-xs-offset-2 shopToolTop" title = "We'll show you the shop where the work was done.">
        <p class="text-center submissionBox">
          <span>Submission</span>
          <span class = "shopName">AMX Auto</span></p>
</div>
<div class = "col-md-3 col-md-offset-0 col-xs-4 col-xs-offset-2">
    <p class="text-center submissionBlockPositioning"><span>Total Cost</span><span class = "repairCostBoxPriceSubmissionsPage">$<%= @firstResult %></span></p>
</div>
<div class = "col-md-3 col-md-offset-0 col-xs-4">
    <p class="text-center submissionBlockPositioning" ><span>Parts/Labor</span><span class = "repairCostBoxPriceSubmissionsPage">$<%=@firstPart%>/$<%=@firstLabor%></span></p>
</div>
<div class = "col-md-2 col-md-offset-0 col-xs-8 col-xs-offset-2 ratingsToolTip" title = "Yelp integrated ratings for shops">
    <p class="text-center submissionBlockPositioning"><span class = " rating star5"></span><span class = "reviewText"><a href = "#review">Read Review</a></span></p>
</div>
<div class = "col-md-1 col-md-offset-0 col-xs-12">
    <a class="btn demo_button_custom_submission hidden-sm hidden-xs" href="/anautomy/homepage#signup"><i class="fa fa-caret-right submissionRepairIcon"></i></a>
    <a class="btn demo_button_custom_submission_sm visible-sm visible-xs" href="/anautomy/homepage#signup"><i class="fa fa-caret-right submissionRepairIcon"></i></a>
</div>
</div>
  </div>


<div class = " submissionBlock"> 
    <div class = "row">
    <div class = "col-md-3 col-md-offset-0 col-xs-8 col-xs-offset-2">
    <p class="text-center submissionBox"><span>Submission</span><span class = "shopName">Exotic Motorsports</span></p>
</div>
<div class = "col-md-3 col-md-offset-0 col-xs-4 col-xs-offset-2">
    <p class="text-center submissionBlockPositioning"><span>Total Cost</span><span class = "repairCostBoxPriceSubmissionsPage">$<%= @secondResult %></span></p>
</div>
<div class = "col-md-3 col-md-offset-0 col-xs-4">
    <p class="text-center submissionBlockPositioning" ><span>Parts/Labor</span><span class = "repairCostBoxPriceSubmissionsPage">$<%=@secondPart%>/$<%=@secondLabor%></span></p>
</div>
<div class = "col-md-2 col-md-offset-0 col-xs-8 col-xs-offset-2">
    <p class="text-center submissionBlockPositioning"><span class = " rating half4star"></span><span class = "reviewText"><a href = "#review">Read Review</a></span></p>
</div>
<div class = "col-md-1 col-md-offset-0 col-xs-12">
  <a class="btn demo_button_custom_submission hidden-sm hidden-xs" href="/anautomy/homepage#signup"><i class="fa fa-caret-right submissionRepairIcon"></i></a>
  <a class="btn demo_button_custom_submission_sm visible-sm visible-xs" href="/anautomy/homepage#signup"><i class="fa fa-caret-right submissionRepairIcon"></i></a>
</div>
</div>
  </div>



<div class = " submissionBlock"> 
    <div class = "row">
    <div class = "col-md-3 col-md-offset-0 col-xs-8 col-xs-offset-2">
    <p class="text-center submissionBox"><span>Submission</span><span class = "shopName">xxx</span></p>
</div>
<div class = "col-md-3 col-md-offset-0 col-xs-4 col-xs-offset-2">
    <p class="text-center submissionBlockPositioning"><span>Total Cost</span><span class = "repairCostBoxPriceSubmissionsPage">$xxx</span></p>
</div>
<div class = "col-md-3 col-md-offset-0 col-xs-4">
    <p class="text-center submissionBlockPositioning" ><span>Parts/Labor</span><span class = "repairCostBoxPriceSubmissionsPage">$xxx</span></p>
</div>
<div class = "col-md-2 col-md-offset-0 col-xs-8 col-xs-offset-2">
    <p class="text-center submissionBlockPositioning"><span class = " rating star4"></span><span class = "reviewText"><a href = "#review">Read Review</a></span></p>
</div>
<div class = "col-md-1 col-md-offset-0 col-xs-12">
    <a class="btn demo_button_custom_submission hidden-sm hidden-xs" href="/anautomy/homepage#signup"><i class="fa fa-caret-right submissionRepairIcon"></i></a>
  <a class="btn demo_button_custom_submission_sm visible-sm visible-xs" href="/anautomy/homepage#signup"><i class="fa fa-caret-right submissionRepairIcon"></i></a>
</div>
</div>
  </div>

<div class = " submissionBlock"> 
    <div class = "row">
    <div class = "col-md-3 col-md-offset-0 col-xs-8 col-xs-offset-2">
    <p class="text-center submissionBox"><span>Submission</span><span class = "shopName">xxx</span></p>
</div>
<div class = "col-md-3 col-md-offset-0 col-xs-4 col-xs-offset-2">
    <p class="text-center submissionBlockPositioning"><span>Total Cost</span><span class = "repairCostBoxPriceSubmissionsPage">$xxx</span></p>
</div>
<div class = "col-md-3 col-md-offset-0 col-xs-4">
    <p class="text-center submissionBlockPositioning" ><span>Parts/Labor</span><span class = "repairCostBoxPriceSubmissionsPage">$xxx</span></p>
</div>
<div class = "col-md-2 col-md-offset-0 col-xs-8 col-xs-offset-2">
    <p class="text-center submissionBlockPositioning"><span class = " rating half3star"></span><span class = "reviewText"><a href = "#review">Read Review</a></span></p>
</div>
<div class = "col-md-1 col-md-offset-0 col-xs-12">
   <a class="btn demo_button_custom_submission hidden-sm hidden-xs" href="/anautomy/homepage#signup"><i class="fa fa-caret-right submissionRepairIcon"></i></a>
  <a class="btn demo_button_custom_submission_sm visible-sm visible-xs" href="/anautomy/homepage#signup"><i class="fa fa-caret-right submissionRepairIcon"></i></a>
</div>
</div>
  </div>

<h6><i class="fa fa-caret-right fa-2x averageBarArrow"></i><span class = "averagePriceBarTitle">Average Price: <strong>$<%= @average_repair_cost %></strong></span><i class="fa fa-caret-left fa-2x averageBarArrow"></i></h6>


<div class = " submissionBlock"> 
    <div class = "row">
    <div class = "col-md-3 col-md-offset-0 col-xs-8 col-xs-offset-2">
    <p class="text-center submissionBox"><span>Submission</span><span class = "shopName">Bennys Brakes</span></p>
</div>
<div class = "col-md-3 col-md-offset-0 col-xs-4 col-xs-offset-2">
    <p class="text-center submissionBlockPositioning"><span>Total Cost</span><span class = "repairCostBoxPriceSubmissionsPage">$<%= @fifthResult %></span></p>
</div>
<div class = "col-md-3 col-md-offset-0 col-xs-4">
    <p class="text-center submissionBlockPositioning" ><span>Parts/Labor</span><span class = "repairCostBoxPriceSubmissionsPage">$<%=@fifthPart%>/$<%=@fifthLabor%></span></p>
</div>
<div class = "col-md-2 col-md-offset-0 col-xs-8 col-xs-offset-2">
    <p class="text-center submissionBlockPositioning"><span class = " rating star3"></span><span class = "reviewText"><a href = "#review">Read Review</a></span></p>
</div>
<div class = "col-md-1 col-md-offset-0 col-xs-12">
    <a class="btn demo_button_custom_submission hidden-sm hidden-xs" href="/anautomy/homepage#signup"><i class="fa fa-caret-right submissionRepairIcon"></i></a>
  <a class="btn demo_button_custom_submission_sm visible-sm visible-xs" href="/anautomy/homepage#signup"><i class="fa fa-caret-right submissionRepairIcon"></i></a>
</div>
</div>
  </div>

  <div class = " submissionBlock"> 
    <div class = "row">
    <div class = "col-md-3 col-md-offset-0 col-xs-8 col-xs-offset-2">
    <p class="text-center submissionBox"><span>Submission</span><span class = "shopName">Uncle Ricos Auto &amp; Body</span></p>
</div>
<div class = "col-md-3 col-md-offset-0 col-xs-4 col-xs-offset-2">
    <p class="text-center submissionBlockPositioning"><span>Total Cost</span><span class = "repairCostBoxPriceSubmissionsPage">$<%= @sixthResult %></span></p>
</div>
<div class = "col-md-3 col-md-offset-0 col-xs-4">
    <p class="text-center submissionBlockPositioning" ><span>Parts/Labor</span><span class = "repairCostBoxPriceSubmissionsPage">$<%=@sixthPart%>/$<%=@sixthLabor%></span></p>
</div>
<div class = "col-md-2 col-md-offset-0 col-xs-8 col-xs-offset-2">
    <p class="text-center submissionBlockPositioning"><span class = " rating half2star"></span><span class = "reviewText"><a href = "#review">Read Review</a></span></p>
</div>
<div class = "col-md-1 col-md-offset-0 col-xs-12">
    <a class="btn demo_button_custom_submission hidden-sm hidden-xs" href="/anautomy/homepage#signup"><i class="fa fa-caret-right submissionRepairIcon"></i></a>
  <a class="btn demo_button_custom_submission_sm visible-sm visible-xs" href="/anautomy/homepage#signup"><i class="fa fa-caret-right submissionRepairIcon"></i></a>
</div>
</div>
  </div>


  <div class = " submissionBlock"> 
    <div class = "row">
    <div class = "col-md-3 col-md-offset-0 col-xs-8 col-xs-offset-2">
    <p class="text-center submissionBox"><span>Submission</span><span class = "shopName">Shop Name</span></p>
</div>
<div class = "col-md-3 col-md-offset-0 col-xs-4 col-xs-offset-2">
    <p class="text-center submissionBlockPositioning"><span>Total Cost</span><span class = "repairCostBoxPriceSubmissionsPage">$<%= @seventhResult %></span></p>
</div>
<div class = "col-md-3 col-md-offset-0 col-xs-4">
    <p class="text-center submissionBlockPositioning" ><span>Parts/Labor</span><span class = "repairCostBoxPriceSubmissionsPage">$<%=@seventhPart%>/$<%=@seventhLabor%></span></p>
</div>
<div class = "col-md-2 col-md-offset-0 col-xs-8 col-xs-offset-2">
    <p class="text-center submissionBlockPositioning"><span class = " rating star2"></span><span class = "reviewText"><a href = "#review">Read Review</a></span></p>
</div>
<div class = "col-md-1 col-md-offset-0 col-xs-12">
    <a class="btn demo_button_custom_submission hidden-sm hidden-xs" href="/anautomy/homepage#signup"><i class="fa fa-caret-right submissionRepairIcon"></i></a>
  <a class="btn demo_button_custom_submission_sm visible-sm visible-xs" href="/anautomy/homepage#signup"><i class="fa fa-caret-right submissionRepairIcon"></i></a>
</div>
</div>
  </div>

  <div class = " submissionBlock"> 
    <div class = "row">
    <div class = "col-md-3 col-md-offset-0 col-xs-8 col-xs-offset-2">
    <p class="text-center submissionBox"><span>Submission</span><span class = "shopName">Shop Name</span></p>
</div>
<div class = "col-md-3 col-md-offset-0 col-xs-4 col-xs-offset-2">
    <p class="text-center submissionBlockPositioning"><span>Total Cost</span><span class = "repairCostBoxPriceSubmissionsPage">$<%= @eighthResult %></span></p>
</div>
<div class = "col-md-3 col-md-offset-0 col-xs-4">
    <p class="text-center submissionBlockPositioning" ><span>Parts/Labor</span><span class = "repairCostBoxPriceSubmissionsPage">$<%=@eighthPart%>/$<%=@eighthLabor%></span></p>
</div>
<div class = "col-md-2 col-md-offset-0 col-xs-8 col-xs-offset-2">
    <p class="text-center submissionBlockPositioning"><span class = " rating half1star"></span><span class = "reviewText"><a href = "#review">Read Review</a></span></p>
</div>
<div class = "col-md-1 col-md-offset-0 col-xs-12">
    <a class="btn demo_button_custom_submission hidden-sm hidden-xs" href="/anautomy/homepage#signup"><i class="fa fa-caret-right submissionRepairIcon"></i></a>
  <a class="btn demo_button_custom_submission_sm visible-sm visible-xs" href="/anautomy/homepage#signup"><i class="fa fa-caret-right submissionRepairIcon"></i></a>
</div>
</div>
  </div>


<div class = " submissionBlock"> 
    <div class = "row">
    <div class = "col-md-3 col-md-offset-0 col-xs-8 col-xs-offset-2">
    <p class="text-center submissionBox"><span>Submission</span><span class = "shopName">Shop Name</span></p>
</div>
<div class = "col-md-3 col-md-offset-0 col-xs-4 col-xs-offset-2">
    <p class="text-center submissionBlockPositioning"><span>Total Cost</span><span class = "repairCostBoxPriceSubmissionsPage">$<%= @ninthResult %></span></p>
</div>
<div class = "col-md-3 col-md-offset-0 col-xs-4">
    <p class="text-center submissionBlockPositioning" ><span>Parts/Labor</span><span class = "repairCostBoxPriceSubmissionsPage">$<%=@ninthPart%>/$<%=@ninthLabor%></span></p>
</div>
<div class = "col-md-2 col-md-offset-0 col-xs-8 col-xs-offset-2">
    <p class="text-center submissionBlockPositioning"><span class = " rating star1"></span><span class = "reviewText"><a href = "#review">Read Review</a></span></p>
</div>
<div class = "col-md-1 col-md-offset-0 col-xs-12">
    <a class="btn demo_button_custom_submission hidden-sm hidden-xs" href="/anautomy/homepage#signup"><i class="fa fa-caret-right submissionRepairIcon"></i></a>
  <a class="btn demo_button_custom_submission_sm visible-sm visible-xs" href="/anautomy/homepage#signup"><i class="fa fa-caret-right submissionRepairIcon"></i></a>
</div>
</div>
  </div>

<div class = " submissionBlock"> 
    <div class = "row">
    <div class = "col-md-3 col-md-offset-0 col-xs-8 col-xs-offset-2">
    <p class="text-center submissionBox"><span>Submission</span><span class = "shopName">Shop Name</span></p>
</div>
<div class = "col-md-3 col-md-offset-0 col-xs-4 col-xs-offset-2">
    <p class="text-center submissionBlockPositioning"><span>Total Cost</span><span class = "repairCostBoxPriceSubmissionsPage">$<%= @tenthResult %></span></p>
</div>
<div class = "col-md-3 col-md-offset-0 col-xs-4">
    <p class="text-center submissionBlockPositioning" ><span>Parts/Labor</span><span class = "repairCostBoxPriceSubmissionsPage">$<%=@tenthPart%>/$<%=@tenthLabor%></span></p>
</div>
<div class = "col-md-2 col-md-offset-0 col-xs-8 col-xs-offset-2">
    <p class="text-center submissionBlockPositioning"><span class = " rating halfstar"></span><span class = "reviewText"><a href = "#review">Read Review</a></span></p>
</div>
<div class = "col-md-1 col-md-offset-0 col-xs-12">
   <a class="btn demo_button_custom_submission hidden-sm hidden-xs" href="/anautomy/homepage#signup"><i class="fa fa-caret-right submissionRepairIcon"></i></a>
  <a class="btn demo_button_custom_submission_sm visible-sm visible-xs" href="/anautomy/homepage#signup"><i class="fa fa-caret-right submissionRepairIcon"></i></a>
</div>
</div>
  </div>


  <div class = " submissionBlock"> 
    <div class = "row">
    <div class = "col-md-3 col-md-offset-0 col-xs-8 col-xs-offset-2">
    <p class="text-center submissionBox"><span>Submission</span><span class = "shopName">Shop Name</span></p>
</div>
<div class = "col-md-3 col-md-offset-0 col-xs-4 col-xs-offset-2">
    <p class="text-center submissionBlockPositioning"><span>Total Cost</span><span class = "repairCostBoxPriceSubmissionsPage">$<%= @eleventhResult %></span></p>
</div>
<div class = "col-md-3 col-md-offset-0 col-xs-4">
    <p class="text-center submissionBlockPositioning" ><span>Parts/Labor</span><span class = "repairCostBoxPriceSubmissionsPage">$<%=@eleventhPart%>/$<%=@eleventhLabor%></span></p>
</div>
<div class = "col-md-2 col-md-offset-0 col-xs-8 col-xs-offset-2">
    <p class="text-center submissionBlockPositioning"><span class = " rating halfstar"></span><span class = "reviewText"><a href = "#review">Read Review</a></span></p>
</div>
<div class = "col-md-1 col-md-offset-0 col-xs-12">
    <a class="btn demo_button_custom_submission hidden-sm hidden-xs" href="/anautomy/homepage#signup"><i class="fa fa-caret-right submissionRepairIcon"></i></a>
  <a class="btn demo_button_custom_submission_sm visible-sm visible-xs" href="/anautomy/homepage#signup"><i class="fa fa-caret-right submissionRepairIcon"></i></a>
</div>
</div>
  </div>


</div>
<br>
<br>
<br>

</div>
      </div>

<div class = "container-fluid">
  <div class = "col-sm-6 backgroundVehicleImage repair_info_tooltip" title = "Valuable information about the repair." style = "background: url(<%= @image_link %>) no-repeat center center; background-size: auto 100%;">
    <div class = "background_main_black_repairs">
      
      <div class = "row">
        <div class = " topBlock col-lg-12 text-left">
          <h3 >Repair Details</h3>
          <%if !(@repair.blank?)%>
          <h4><ul>(<%=@repair%>)</ul></h4>
          <%end%>
        </div>
      </div>
      <div class = "row">
        <div class = "col-lg-12">
          <div class = "clutchImg">
            <br><br>
            <br><br>
            <br><br>
            <br><br>
            <br><br>
            <br><br>
            <br><br>
            <br><br>
            <br><br>
          </div>
        </div>
      </div>
      <div class = "row">
      <div class = "col-lg-12">

        <div class = "col-xs-6" style = "padding-left:-5px;">
          <h5 class = "detailsHeader">DESCRIPTION</h5>
          <p class = "detailsDescription">- The <%=@repair%> is a critical component of your vehicle. It is used to engage and disengage the power transmission. Essentially, the <%=@repair%> gives and cuts off power to your vehicle and is an important piece of your transmission...<a href = "#moreinfo">read more</a></p>
          <h5 class = "detailsHeader">REPAIR/REPLACEMENT URGENCY</h5>
          <p class = "highUrgencyLevel detailsDescription">Very High</p>
          <h5 class = "detailsHeader">STANDARD REPLACEMENT TIME</h5>
          <p class = "detailsDescription">- 100,000 miles on BMW M3's, but this is highly variable on clutch shift time and driving style. Individuals experienced in driving manual transmission cars may see more lengevity from their clutch.</p>
        </div>
        <div class = "col-xs-6">
          <h5 class = "detailsHeader">SYMPTOMS OF CLUTCH PROBLEMS</h5>
          <p class = "detailsDescription">- Slipping or missing gears, burnt smell from under hood, loose <%=@repair%> pedal, 'spongy' <%=@repair%>, <a href = "#seemore">see all</a></p>
          <h5 class = "detailsHeader">IF THIS PART IS NOT REPLACED IMMEDIATELY</h5>
          <p class = "detailsDescription">- You can anticipate major complications while attempting to start your car, drive, or shift gears. It is recommended that this is repaired immediately and the vehicle should not be driven, even to the mechanic/auto shop.</p>
          <h5 class = "detailsHeader">ASSOCIATED DIAGNOSTIC FAULT CODES</h5>
          <p class = "detailsDescription">- 0028, 0029, 0031, 0035, <a href = "#seeall">see all</a></p>
        </div>
    </div>
  </div>



    </div>
  </div>
</div>

  <!--<p class="repairCostBox"><span>Owner Rating</span><span class = "repairCostBoxPrice">4.5/5</span></p>
                        <p class="repairCostBox"><span>Maintenance Rating</span><span class = "repairCostBoxPrice">$$$</span></p>
                        <p class="repairCostBox"><span>5 year cost to own</span><span class = "repairCostBoxPrice">145,000</span></p>
                        <p class="repairCostBox"><span>Enter Miles for Average KBB Value</span><span class = "repairCostBoxPrice">KBB Value: $11,536</span></p>-->
        </div>
        <!-- /.row -->
    </div>
    <div class = "container-fluid text-center analyticsSnapshot analytics_tooltip" title = "Analytics help you understand how much you are paying overtime compared to other cars and geographies." style = "margin-bottom: 150px;">
    <h1 class = "analyticsSnapshotTitle">ANALYTICS <i class="fa fa-cogs analyticsSnapshotGears"></i> SNAPSHOT</h1>
    <div class = "row">
      <div class = "col-sm-4">
        <div id="accordion">
  <h3 class = "snapshotTitle">Geographic<i class="fa fa-angle-down snapshotArrowDown"></i></h3>
  <div>
    <p>Zip code <strong>60607</strong> costs <font color = "red">13%</font> above the average for a <strong><%=@repair%></strong> on <strong><%= @car %></strong>'s<br> <strong>Illinois</strong> costs  <font color = "red">4%</font> above average for a <strong><%=@repair%></strong> on <strong><%= @car %></strong>'s<br> National Average: <strong>$1,557</strong> <br>Lowest price geography is <strong>Texas</strong> at <strong>$1,360</strong> <br>Highest price geography is <strong>Maryland</strong> at <strong>$1,706</strong> </p>
  </div>
  <h3 class = "snapshotTitle">Comparable Vehicles<i class="fa fa-angle-down snapshotArrowDown"></i></h3>
  <div>
    <p>2003 Audi RS4 - <strong>$1,625</strong><br>
           2003 Mercedes CLK55 AMG - <strong>$1,812</strong><br>
           2003 Cadillac CTS - <strong>$1,435</strong><br></p>
  </div>
  
</div>
    </div>
    <div class = "col-sm-4">
              <div id="accordion2">
 
  <h3 class = "snapshotTitle">Time<i class="fa fa-angle-down snapshotArrowDown"></i></h3>
  <div>
    <p>Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.</p>
  </div>
  <h3 class = "snapshotTitle">Potential Additions<i class="fa fa-angle-down snapshotArrowDown"></i></h3>
  <div>
   <p>Slave cylinders works with the master cyclinder to conver non-hydraulic pressure into hydraulic pressure. Given that SMG vehicles operates with hydraulic <%=@repair%> systems, slave cyliinders are a common additional replacement and replacing a <%=@repair%><br> <a>Expected Parts Cost: $87 additional</a> <a>Expected Labor Cost: $60 additional</a></p>
   <p>The flywheel is the rotating component that receives energy which will further transfer the energy to the <%=@repair%> when the <%=@repair%> plate becomes in contact with the flywheel itself. Since these components work together very closely, it is very likely that a flywheel replacements will be necessary in addition to the <%=@repair%>. A bad <%=@repair%> will cause the flywheel to dull and lose grip<br> <a>Expected Parts Cost: $418 additional</a> <a>Expected Labor Cost: $213 additional</a></p>
  </div>
  
</div>

    </div>
    <div class = "col-sm-4">
      <div id="accordion3">
<h3 class = "snapshotTitle">Vehicle<i class="fa fa-angle-down snapshotArrowDown"></i></h3>
  <div>
    <p>Your location -<strong>$1,760</strong><br><%= @car %> - <strong>$1,557</strong> - your vehicle is <font color = "red">13%</font> above this price<br>Previous generation (e36 M3) - <strong> $1,418</strong> - your vehicle is <font color = "red">24%</font> above this price<br>
            Subsequent generation (e90 M3) - <strong> $1,811</strong> - your vehicle is <font color = "green">3%</font> below this price<br>


            All <strong>BMW M3</strong>'s - <strong> $1,665</strong> - your vehicle is <font color = "red">6%</font> above this price<br>


           All <strong>BMW</strong>'s - <strong> $1,406</strong> - your vehicle is <font color = "red">25%</font> above this price<br>

           All comparable <strong>luxury</strong> vehicles <strong>BMW</strong>'s - <strong> $1,361</strong> - your vehicle is <font color = "red">29%</font> above this price<br>

           All vehicles- <strong> $909</strong> - your vehicle is <font color = "red">94%</font> above this price<br></p>
  </div>
  <h3 class = "snapshotTitle">Other Details<i class="fa fa-angle-down snapshotArrowDown"></i></h3>
  <div>
    <p>Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In suscipit faucibus urna.</p>
  </div>


  
</div>
    </div>
  </div>
</div>

<!-- jQuery Version 1.11.1 -->
    <%= javascript_include_tag "jquery.js" %>

    <!-- Bootstrap Core JavaScript -->
    <%= javascript_include_tag "bootstrap.min.js" %>

    <!-- <script src="!inc/js/jquery-2.1.0.min.js"></script> -->

    <%= javascript_include_tag "jquery-1.8.0.min.js" %>


    <%= javascript_include_tag "selectordie.js" %>
    <%= javascript_include_tag "demo.js" %>

    <%= javascript_include_tag "jquery-ui.js" %>
    <%= javascript_include_tag "jquery.litelighter.js" %>

    <!--Range slider-->
    <%= javascript_include_tag "ion.rangeSlider.js" %>

<script>

$("select").selectOrDie();

$( "#accordion, #accordion2, #accordion3" ).accordion({
      collapsible: true,
      heightStyle: "content",
      active: false
    });

$(document).ready(function() {
            $('.shopToolTop').tooltipster({
              animation: 'fade',
              delay: 0,
              theme: 'tooltipster-default',
              trigger: 'hover',
              position: 'bottom'
            });

            $('.ratingsToolTip').tooltipster({
              animation: 'fade',
              delay: 0,
              theme: 'tooltipster-default',
              trigger: 'hover',
              position: 'bottom'
            });
            $('.main_tool_tip').tooltipster({
              animation: 'fade',
              delay: 0,
              theme: 'tooltipster-default',
              trigger: 'hover',
              position: 'top',
              maxWidth: 400
            });
            $('.repair_info_tooltip').tooltipster({
              animation: 'fade',
              delay: 0,
              theme: 'tooltipster-default',
              trigger: 'hover',
              position: 'top',
              maxWidth: 400
            });
            $('.analytics_tooltip').tooltipster({
              animation: 'fade',
              delay: 0,
              theme: 'tooltipster-default',
              trigger: 'hover',
              position: 'top',
              maxWidth: 400
            });
            $('.under_construction_footer_tooltip').tooltipster({
              animation: 'fade',
              delay: 0,
              theme: 'tooltipster-default',
              trigger: 'click',
              position: 'right'
            });
            $('.under_construction_header_tooltip').tooltipster({
              animation: 'fade',
              delay: 0,
              theme: 'tooltipster-default',
              trigger: 'click',
              position: 'bottom'
            });
             });


  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-62238284-1', 'auto');
  ga('send', 'pageview');


    </script>
<!-- Source http://stackoverflow.com/questions/21166436/jquery-accordion-change-font-awesome-icon-class-on-click -->