<!-- Header -->

    <a id = "intro" name="intro"></a>
    <div  class=" span12 intro-header coverHeight">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Never Get Overcharged Again</h1>
                        <h3>Be An Expert on Your Car Repairs</h3>
                        <div class = "howButton">
                                <a href = "#how" class="btn btn-default btn-md page-scroll"> <span class="network-name">How?</span></a>
                        </div>
                        <!--<hr class="intro-divider"> -->

                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!--content-section-before a -->
    <a name="why" id="why"></a>
    <div  class=" span12 content-section-a whySection">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading sectionHeading">Why are we here?</h2>
                    <p class="lead">The mechanical repair industry is one of the least transparent consumer facing industries that exists. Most people will ask friends and family if they know any honest mechanics whenever their car breaks down. Anautomy is not here to send you quotes for your repair from nearby shops. You don’t even know if any of those quotes are a fair price. <br><br>Anautomy is here to help show you what other people are paying for their repairs and where they got it done. Then you can determine if you are truly getting a good price for the repair and get your car back on the road.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6 col-sm-off">
                   <%= image_tag("mechSmall.jpg" ,class: "img-responsive mechImage") %>
                </div>
            </div>

        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-a -->
   <!--<hr class="introDivider">-->
    <!-- Page Content -->
     <a name="how"  id = "how"></a>

    <div class="span12 content-section-b howSection">
 
        <div class="container howSection">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-headin sectionHeading">How Anautomy Works</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                  
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-search fa-stack-1x fa-inverse"></i>
                    </span>
                  
                    <h4 class = "howLabels">Find</h4>
                    <p class="text-muted howDescriptions">Find your car and the repair you need through our powerful search tool.</p>
                </div>
                <div class="col-md-4">
                  
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-eye fa-stack-1x fa-inverse "></i>
                    </span> 
                  
                    <h4 class="howLabels">Browse</h4>
                    <p class="text-muted howDescriptions">See how much others are paying on the same repair for your vehicle.</p>
                </div>
                <div class="col-md-4">
                  
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-usd fa-stack-1x fa-inverse"></i>
                    </span>
                
                    <h4 class="howLabels">Save</h4>
                    <p class="text-muted howDescriptions">Find the best place to get the repair done for a price that you know is fair.</p>
                </div>
            </div>
            <h5 class = "text-center">We'll be launching soon. Get on our email list for an invitation to our beta launch.</h5>
            
         <%= form_for @subscriber, :html => {:class => 'cold-md-3 col-md-offset-3 form-inline'} do |f|%>
         <%= render 'shared/error_messages' %>
  <div class="form-group">
    <label class="sr-only">Email</label>
   <%= f.email_field :email, class: 'form-control input-lg', :placeholder => "Email"%>
   <label class="sr-only">Zip Code</label>
   <%= f.text_field :zip, class: 'form-control input-lg', :placeholder => "Zip code"%>
  </div>
  <div class="form-group">
    <%= f.submit "Notify Me", class: "btnbtn btn-lg btn-primary btn-block" %>

</div>
  </div>
  <% end %>

        </div>
    </div>
   
    <!-- /.content-section-a -->
    <div>
    <a id = "next" name="next"></a>
    <!--banner has top margin of 20px for smooth scroll feature to land right on top of text-->
    <div class="banner nextSection">
        <div class="container">
            <h1 classs = "text-left">What's next?</h1>
            <div class="row">
             
             <div class="col-md-4">
                <h3>Make a submission</h3>
                <ul>
                  <p class="lead">Your initial submissions are critical in creating our initial database of information. This pricing info is the driver behind the transparency that Anautomy will bring.</p>
              </ul>
                <h3>What's in it for you?</h3>
                <ul>
                  <p class="lead">Initial submitters will have lifetime access to Anautomy, be the first to test drive any new features, and have priority access to our beta test when we launch.</p>
                </ul>
                <h3>Where's the information going?</h3>
                <ul>
                  <p class="lead">This information will be part of our platform and help everyone discover how much others are paying for car repairs.</p>
                </ul>
            </div>

          <div class="col-md-8 center-block">
<div class = "col-md-offset-2">
            <%= form_for @repairSubmission, :html => {:class => ''} do |f|%>
            <%= render 'shared/error_messages_repair' %>

            <div class="form-group">
              <div class = "form-inline">
              <label class="sr-only">Name</label>
   <%= f.text_field :name, class: 'form-control input-md', :placeholder => "First Name"%>

                <label class="sr-only">Email</label>

                <%= f.email_field :email, class: 'form-control input-md', :placeholder => "Email"%>

                <label class="sr-only">Zip code</label>
   <%= f.text_field :zip, class: 'form-control input-md', :placeholder => "Zip code"%>
 </div>

<h4 class = "lead"><u>What kind of car?</u></h4>
 <div class = "form-inline">

  <label class="sr-only">Vehicle Year</label>
  <%= f.select(:vehicleYear, options_for_select((Time.zone.now.year - 100)..(Time.zone.now.year), :selected => (Time.zone.now.year)), {}, {class: "form-control"}) %>

   <label class="sr-only">Vehicle Make</label>
   <%= f.text_field :vehicleMake, class: 'form-control input-md', :placeholder => "Vehicle Make*"%>
   
   <label class="sr-only">Vehicle Model</label>
   <%= f.text_field :vehicleModel, class: 'form-control input-md', :placeholder => "Vehicle Model*"%>
   <br><br>
   <div class = "form-inline">
   <label class="sr-only">Vehicle Trime</label>
   <%= f.text_field :vehicleTrim, class: 'form-control input-md', :placeholder => "Vehicle Trim*"%>
   
   <label class="sr-only">Vehicle Mileage</label>
   <%= f.text_field :vehicleMileage, class: 'form-control input-md', :placeholder => "Vehicle Mileage"%>
</div>
</div>

<h4 class = "lead"><u>What repair?</u></h4>
<!--<%= f.label :repair_description%>-->
 <div class = "form-inline">
   <label class="sr-only">Repair Description</label>
   <%= f.text_field :repairDescription, class: 'form-control input-md', :placeholder => 'Repair Description*'%>
   
   <label class="sr-only">Parts Cost</label>
   <%= f.text_field :partsCost, class: 'form-control input-md', :placeholder => "Parts Cost*"%>

   <label class="sr-only">Labor Cost</label>
   <%= f.text_field :laborCost, class: 'form-control input-md', :placeholder => "Labor Cost*"%>
</div>

<h4 class = "lead"><u>Where did you get it done?</u></h4>
 <div class = "form-inline">

   <label class="sr-only">Shop Name</label>
   <%= f.text_field :shopName, class: 'form-control input-md', :placeholder => "Shop Name*"%>
   <label class="sr-only">Shop City/State</label>
   <%= f.text_field :shopCityState, class: 'form-control input-md', :placeholder => "Shop City/State*"%>
   <br><br>
   <label class="sr-only">Review</label>
   <%= f.text_area :review, class: 'form-control input-md',:rows => 5, :cols => 71,  :placeholder => "Give us a short description of your experience here. (optional)"%>

  </div>
  <div class="col-md-offset-4">
    <%= f.submit "Submit", class: "btnbtn btn-lg btn-primary center" %>
  </div>
</div>
  <% end %>

          </div>

  </div>
        
        </div>
        <!-- /.container -->

    </div>
    </div>
    <!-- /.banner -->
    <script>

document.querySelector('button.download').onclick = function(){
  $("html, body").animate({ scrollTop: $("#download-section").offset().top }, 1000);
};

document.querySelector('.showcase.normal button').onclick = function(){
  alert("Oops... Something went wrong!");
};

document.querySelector('.showcase.sweet button').onclick = function(){
  swal("Oops...", "Something went wrong!", "error");
};

document.querySelector('ul.examples li.message button').onclick = function(){
  swal("Here's a message!");
};

document.querySelector('ul.examples li.timer button').onclick = function(){
  swal({
    title: "Auto close alert!",
    text: "I will close in 2 seconds.",
    timer: 2000,
    showConfirmButton: false
  });
};

document.querySelector('ul.examples li.title-text button').onclick = function(){
  swal("Here's a message!", "It's pretty, isn't it?");
};

document.querySelector('ul.examples li.success button').onclick = function(){
  swal("Good job!", "You clicked the button!", "success");
};

document.querySelector('ul.examples li.warning.confirm button').onclick = function(){
  swal({
    title: "Are you sure?",
    text: "You will not be able to recover this imaginary file!",
    type: "warning",
    showCancelButton: true,
    confirmButtonColor: '#DD6B55',
    confirmButtonText: 'Yes, delete it!',
    closeOnConfirm: false
  },
  function(){
    swal("Deleted!", "Your imaginary file has been deleted!", "success");
  });
};

document.querySelector('ul.examples li.warning.cancel button').onclick = function(){
  swal({
    title: "Are you sure?",
    text: "You will not be able to recover this imaginary file!",
    type: "warning",
    showCancelButton: true,
    confirmButtonColor: '#DD6B55',
    confirmButtonText: 'Yes, delete it!',
    cancelButtonText: "No, cancel plx!",
    closeOnConfirm: false,
    closeOnCancel: false
  },
  function(isConfirm){
    if (isConfirm){
      swal("Deleted!", "Your imaginary file has been deleted!", "success");
    } else {
      swal("Cancelled", "Your imaginary file is safe :)", "error");
    }
  });
};

document.querySelector('ul.examples li.custom-icon button').onclick = function(){
  swal({
    title: "Sweet!",
    text: "Here's a custom image.",
    imageUrl: 'example/images/thumbs-up.jpg'
  });
};

document.querySelector('ul.examples li.message-html button').onclick = function(){
  swal({
    title: "HTML <small>Title</small>!",
    text: 'A custom <span style="color:#F8BB86">html<span> message.',
    html: true
  });
};

document.querySelector('ul.examples li.input button').onclick = function(){
  swal({
    title: "An input!",
    text: 'Write something interesting:',
    type: 'input',
    showCancelButton: true,
    closeOnConfirm: false,
    animation: "slide-from-top",
    inputPlaceholder: "Write something"
  }, 
  function(inputValue){
    if (inputValue === false) return false;

    if (inputValue === "") {
      swal.showInputError("You need to write something!");
      return false;
    }
    
    swal("Nice!", 'You wrote: ' + inputValue, "success");
    
  });
};

document.querySelector('ul.examples li.theme button').onclick = function() {
  swal({
    title: "Themes!",
    text: "Here's the Twitter theme for SweetAlert!",
    confirmButtonText: "Cool!",
    customClass: 'twitter'
  });
};

</script>

<div class="sweet-overlay" tabindex="-1" style="opacity: -0.02; display: none;"></div>

<div class="sweet-alert hideSweetAlert" data-custom-class="" data-has-cancel-button="true" data-has-confirm-button="true" data-allow-outside-click="false" data-has-done-function="true" data-animation="pop" data-timer="null" style="display: none; margin-top: -176px; opacity: 0;"><div class="sa-icon sa-error" style="display: none;">
      <span class="sa-x-mark">
        <span class="sa-line sa-left"></span>
        <span class="sa-line sa-right"></span>
      </span>
    </div><div class="sa-icon sa-warning" style="display: block;">
      <span class="sa-body"></span>
      <span class="sa-dot"></span>
    </div><div class="sa-icon sa-info" style="display: none;"></div><div class="sa-icon sa-success" style="display: none;">
      <span class="sa-line sa-tip"></span>
      <span class="sa-line sa-long"></span>

      <div class="sa-placeholder"></div>
      <div class="sa-fix"></div>
    </div><div class="sa-icon sa-custom" style="display: none;"></div><h2>Are you sure?</h2>
    <p style="display: block;">You will not be able to recover this imaginary file!</p>
    <fieldset>
      <input type="text" tabindex="3" placeholder="">
      <div class="sa-input-error"></div>
    </fieldset><div class="sa-error-container">
      <div class="icon">!</div>
      <p>Not valid!</p>
    </div><div class="sa-button-container">
      <button class="cancel" tabindex="2" style="display: inline-block; box-shadow: none;">Cancel</button>
      <button class="confirm" tabindex="1" style="display: inline-block; box-shadow: none; background-color: rgb(221, 107, 85);">Yes, delete it!</button>
    </div></div>

    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-62238284-1', 'auto');
  ga('send', 'pageview');

</script>