<% provide(:title, "Search Results") %>

<!-- Page Content -->
<div class="container-fluid">
  
        <div class="row">
   
   <% if logged_in? %>  

                       <% else %>
         
<div class="row">
    <ul class = "col-sm-6 hiddenDataMessage">*To see details for all submissions, create a free account <a data-toggle="modal" data-target="#signup-modal" href="">here</a></ul>
  </div>

  <% end %>
  <div class="row">
    <div class = "col-sm-6 submissionsRepairTitle">
      <h5><ul>Repairs for <%= @car %></ul></h5>
    </div>
  </div>
<div class="col-sm-6 left-col">

<div class = "allSubissionsBlock">

  <% @final_submissions.each do |s| %>
  <div class = "submissionBlock"> 
 
    <div class = "row">
   
    <div class = "col-md-3 col-md-offset-0 col-xs-8 col-xs-offset-2">
        <p class="text-center submissionBox">
          <span>Submission</span>
          <span class = "shopName"><%= s.shop.shop_name %> </span>
          <span class = "rating star5"></span>
        </p>
</div>
<div class = "col-md-6 col-md-offset-0 col-xs-8 col-xs-offset-2">
  <div class = "submission-title text-center"><%= CarYear.find(s.car.car_year_id).year %> <%= CarMake.find(s.car.car_make_id).name %> <%= CarModel.find(s.car.car_model_id).name%>
  </div>
  <div class = "submission-title text-center">Repair - <%= RepairName.find(s.repair.repair_name_id).name %>
  </div>
  <div class = "submission-title text-center">Repair Cost - <%= number_to_currency(s.total_cost) %>
  </div>
    <p class="text-left review-text "></p>
</div>
<div class = "col-md-2 col-md-offset-0 col-xs-8 col-xs-offset-2">
    <p class="text-center submissionBlockPositioning">
      <!--<span class = "rating star5"></span>
      <span class = "reviewText"><a href = "#review">Read Review</a></span>-->
    </p>
</div>
<div class = "col-md-1 col-md-offset-0 col-xs-12">
    <a class="btn demo_button_custom_submission  hidden-sm hidden-xs" href="#"><i class="fa fa-caret-right submissionRepairIcon"></i></a>
    <a class="btn demo_button_custom_submission_sm  visible-sm visible-xs" href="#"><i class="fa fa-caret-right submissionRepairIcon"></i></a>
</div>
</div>
  </div>
  <% end %>

<% if @average_repair_cost != nil %>
<h6><i class="fa fa-caret-right fa-2x averageBarArrow"></i><span class = "averagePriceBarTitle">Average Price: <strong><%= number_to_currency(@average_repair_cost) %></strong></span><i class="fa fa-caret-left fa-2x averageBarArrow"></i></h6>
<% end %>


</div>
<br>
<br>
<br>

      </div>

  <div class = "col-sm-6 right-col">
      <div class = "row">
        <div class = "col-lg-12">
           <div id="map"></div>
        </div>
      </div>

      <div class = "row">
        <!-- style="border-bottom:1px solid #52BB49;" -->
        <div class = "col-lg-12" >
          <div class = "row">
            <div class="col-lg-7" style="padding-top:10px; padding-bottom:10px;">
              <div class="shop-profile-name" style="color:#52BB49; font-size:1.6em; font-weight: bold;"></div>
              <address style="color:#52BB49; font-size:1.3em; margin-bottom:0;" class="shop-profile-address">
                <span id="street_number" value=""></span>
                <span id="route" value=""></span><br>
                <span id="locality" value=""></span>
                <span id="administrative_area_level_1" value=""></span>
                <span id="postal_code" value=""></span>
              </address>
              <a id="shop-profile-website" style="color:#52BB49; font-size:1.3em;" target="_blank" href="#"></a>
              <div style="color:#52BB49; font-size:1.3em;"><span id="shop-profile-rating" class = ""></span></div>
              <div class="shop-profile-telephone"><a href="#"></a></div>
              

            </div>
            <div class="col-lg-5" style="padding-top:10px; padding-bottom:10px;">
              <%= link_to "Schedule Repair", service_request_info_path, class: 'schedule-button text-center' %>
              <span style="color:#52BB49; font-size:0.9em;">*Shop currently not accepting online scheduling.<span>
            </div>
          </div>
        </div>
    </div>
</div>
        </div>
        <!-- /.row -->
    </div>

<!-- jQuery Version 1.11.1 -->

    <!-- <script src="!inc/js/jquery-2.1.0.min.js"></script> -->

    <%= javascript_include_tag "jquery.js" %>

    <%= javascript_include_tag "jquery-ui.js" %>

    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key="+ @google_api_key +"&libraries=places&callback=initMap", defer: true, async: true %>

<script>
var map;
var infowindow;

  function initMap() {
    var location = {lat: <%= @location["lat"] %>, lng: <%= @location["lng"] %>};
    var mapelement = document.getElementById('map');
    map = new google.maps.Map(mapelement, {
          center: location,
          zoom: 14
        });
    
    var request = {
      location: location,
      radius: '1000',
      type: ['car_repair']
    };

    infowindow = new google.maps.InfoWindow();
    
    var service = new google.maps.places.PlacesService(map);
    service.nearbySearch(request, callback);
  }

  
  function callback(results, status) {
    var submissionsBlock = document.getElementsByClassName('allSubissionsBlock')[0];
    if (status === google.maps.places.PlacesServiceStatus.OK) {
      prepareFirstShopProfile(results[0])
      for (var i = 0; i < results.length; i++) {
        submissionsBlock.insertAdjacentHTML('beforeend', '<div class = "submissionBlock"> <div class = "row"><div class = "col-md-3 col-md-offset-0 col-xs-8 col-xs-offset-2"> <p class="text-center submissionBox"> <span></span> <span class = "shopName">'+results[i].name+' </span><span class = "rating '+placeRatingClass(results[i].rating)+'"></span></p></div><div class = "col-md-6 col-md-offset-0 col-xs-8 col-xs-offset-2"><div class = "submission-title text-center"> </div><p class="text-left review-text "></p></div><div class = "col-md-2 col-md-offset-0 col-xs-8 col-xs-offset-2"><p class="text-center submissionBlockPositioning"><!--<span class = "rating '+placeRatingClass(results[i].rating)+'">--></span><span class = "reviewText"><a href = "#review"></a></span></p></div><div class = "col-md-1 col-md-offset-0 col-xs-12"><a class="btn demo_button_custom_submission hidden-xs hidden-sm" data-value="'+results[i].place_id+'"><i class="fa fa-caret-right submissionRepairIcon"></i></a><a class="btn demo_button_custom_submission_sm  visible-sm visible-xs" data-value="'+results[i].place_id+'"><i class="fa fa-caret-right submissionRepairIcon"></i></a></div></div></div>');
        createMarker(results[i]);
      }
    }
  }

function createMarker(place) {
  var placeLoc = place.geometry.location;
  var marker = new google.maps.Marker({
    map: map,
    position: place.geometry.location
  });
  google.maps.event.addListener(marker, 'click', function() {
    infowindow.setContent(place.name);
    infowindow.open(map, this);
  });
}
//Following line for chrome debugging purposes
//# sourceURL=googlePlaceResults.js 
</script>
