<%= form_for @repairSubmission, :html => {:id => 'msform', :class => ''}, remote: true do |f|%>
  <!-- progressbar -->
  <ul id="progressbar">
    <li class="active" style="color:#5A5A5A;">Your Info</li>
    <li style="color:#5A5A5A;">Car Details</li>
    <li style="color:#5A5A5A;">Repair Details</li>
  </ul>
  <!-- fieldsets -->
  <fieldset>
    <h2 class="fs-title">Your Info</h2>
    <h3 class="fs-subtitle"></h3>
    <%= f.email_field :email, class: '', :placeholder => "Email"%>
    <input type="button" name="next" class="next action-button" value="Next" />
  </fieldset>
  <fieldset>
    <h2 class="fs-title">What kind of car?</h2>
    <h3 class="fs-subtitle"></h3>
    <%= f.collection_select(:car_year, (CarYear.all).reverse, :id, :year, {prompt: "Year"}, {class: "select_submission_form", id: "car_year_select"}) %>
    <%= f.select(:car_make, options_for_select(['Make']), {prompt: "Make"}, {class: "select_submission_form", id: "car_make_select"}) %>
     <%= f.select(:car_model, options_for_select(['Model']), {prompt: "Model"}, {class: "select_submission_form", id: "car_model_select"}) %>
    <!--
    <%= f.text_field :vehicle_trim, class: '', :placeholder => "TRIM*"%>
    <%= f.text_field :vehicle_mileage, class: '', :placeholder => "MILEAGE"%>
    -->
    <input type="button" name="previous" class="previous action-button" value="Previous" />
    <input type="button" name="next" class="next action-button" value="Next" />
  </fieldset>
  <fieldset>
    <h2 class="fs-title">What repair?</h2>
    <h3 class="fs-subtitle"></h3>
    <div class="select_submission_form repair_name_div text-left" data-toggle="modal" data-target="#myModal" style="overflow:hidden;">Select Repair <i class="fa fa-th text-right" aria-hidden="true" style="float:right; padding-top:4px;"></i>
     </div>

     <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel" style="color:#52BB49;">Select Repair</h4>
          </div>
          <div class="modal-body" id="carddata">
            <div class="row" >
              <div class="col-sm-4">
                <input id="cardsearchinput" placeholder="Quick Filter"/ >
              </div>
            </div>
            <% @repair_category.each do |category| %>
            
            <div class="row card">
              <div class="col-sm-12">
                <h4 class="text-left"><u><%= category.name%></u></h4>
              </div>
              <% category.repair_names.each do |repair| %>
              <div class="col-sm-4">
                <p>
                  <a class="repair-name-text" href="#" data-cat="<%=category.name%>" data-catid="<%=category.id%>" data-repid="<%=repair.id%>" data-dismiss="modal">
                    <%= repair.name %>
                  </a>
                </p>
              </div>
            <% end %>
          </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    
    <%= f.text_field :total_cost, class: 'total_cost_field', :placeholder => "TOTAL COST"%>

    <%= f.date_select :repair_date, {order: [:month,:year], start_year: Time.zone.now.year, end_year: (Time.zone.now.year-36), prompt: { month: 'Month', year: "Year" }}, {class: 'select_date_submission_form col-sm-6 repair_date_select'}  %>
<div class="rate_experience_section">
    <h3 class="fs-subtitle fs-subtitle-rate">Rate your experience</h3>

    <div class="row cost-rating-row">
      <div class="col-xs-3 text-left">
        Cost:
      </div>
      <div class="col-xs-3">
        <%= radio_button_tag(:cost_rating, 3, false, {class: "with-fa-smile with-fa"}) %>
        <label for="cost_rating_3" style="
        margin-top:-8px;"></label>
      </div>
      <div class="col-xs-3">
        <%= radio_button_tag(:cost_rating, 2, false, {class: "with-fa-meh with-fa"}) %>
        <label for="cost_rating_2" style="
        margin-top:-8px;"></label>
      </div>
      <div class="col-xs-3">
        <%= radio_button_tag(:cost_rating, 1, false, {class: "with-fa-frown with-fa"}) %>
        <label for="cost_rating_1" style="
        margin-top:-8px;"></label>
      </div>
    </div>

    <div class="row quality-rating-row">
      <div class="col-xs-3 text-left">
        Quality:
      </div>
      <div class="col-xs-3">
        <%= radio_button_tag(:quality_rating, 3, false, {class: "with-fa-smile with-fa"}) %>
        <label for="quality_rating_3" style="
        margin-top:-8px;"></label>
      </div>
      <div class="col-xs-3">
        <%= radio_button_tag(:quality_rating, 2, false, {class: "with-fa-meh with-fa"}) %>
        <label for="quality_rating_2" style="
        margin-top:-8px;"></label>
      </div>
      <div class="col-xs-3">
        <%= radio_button_tag(:quality_rating, 1, false, {class: "with-fa-frown with-fa"}) %>
        <label for="quality_rating_1" style="
        margin-top:-8px;"></label>
      </div>
    </div>

    <div class="row quickness-rating-row">
      <div class="col-xs-3 text-left">
        Quickness:
      </div>
      <div class="col-xs-3"`>
        <%= radio_button_tag(:quickness_rating, 3, false, {class: "with-fa-smile with-fa"}) %>
        <label for="quickness_rating_3" style="
        margin-top:-8px;"></label>
      </div>
      <div class="col-xs-3">
        <%= radio_button_tag(:quickness_rating, 2, false, {class: "with-fa-meh with-fa"}) %>
        <label for="quickness_rating_2" style="
        margin-top:-8px;"></label>
      </div>
      <div class="col-xs-3">
        <%= radio_button_tag(:quickness_rating, 1, false, {class: "with-fa-frown with-fa"}) %>
        <label for="quickness_rating_1" style="
        margin-top:-8px;"></label>
      </div>

    </div>
  </div>
    <!--
    <%= f.text_area :review, class: '',:rows => 3, :cols => 71,  :placeholder => "POVIDE A SHORT DESCRIPTION OF YOUR EXPERIENCE (OPTIONAL)"%>
  -->
    <%= hidden_field_tag :shop_id, @repairSubmission.shop_id %>
    <%= f.hidden_field :shop_id, :value => @repairSubmission.shop_id %>
    <%= f.hidden_field :repair_category, {:value => nil, :class => 'repair-cat-hidden'} %>
    <%= f.hidden_field :repair_name, {:value => nil, :class => 'repair-name-hidden'} %>

    <input type="button" name="previous" class="previous action-button" value="Previous" />
    <%= f.submit "Submit", {class: "action-button"}%>
  </fieldset>
<% end %>
<%= javascript_include_tag "jquery.js" %>
<%= javascript_include_tag "jquery.searcher.min" %>
<script>

$('#carddata').searcher({
  itemSelector: '.card',
  textSelector: 'div',
  inputSelector: '#cardsearchinput',
  highlight: "<span class='highlight'>$1</span>",
  toggle: function(item, containsText) {
    if (containsText) {
      $(item).fadeIn();
    } else {
      $(item).fadeOut();
    }
  }
});

</script>