<% provide(:title, "Search Shop") %>

<div class = "container-fluid">
	<div class = "row">
  		<div class="col-sm-6 col-sm-offset-3">
  			<h2 class="text-center main-headline">Find the Shop</h2>
        <h3 class=" text-center sub-headline ">Search by name or zip</h3>
        <div class="row" style="padding-top:12%; padding-bottom:12%;">
          
  				<%= form_tag({controller: "shops", action: "search_result"}, method: "get", class: "") do %>
          <div class="col-sm-12 text-center">
            <%= text_field_tag(:shop_name, nil, {placeholder: "Aby's Shop", class: "shop-search-field"}) %>
  					<%= text_field_tag(:shop_zip, nil, {placeholder: "60609"}) %>
          </div>
            <br>
            <br>
            <div class="col-sm-12 text-center">
  					<%= submit_tag("Search",  {class: "btn btn-custom-2 button-text-style mp-shop-search"}) %>
          </div>
          <%= hidden_field_tag :shop_offset, 0 %>
				<% end %>
      
      </div>
  		</div>
	</div>
</div>

<script type="text/javascript">
    mixpanel.track("Search Shop Page");
</script>

