<% provide(:title, "Account") %>

<div class = "container-fluid">
	<div class="row">
  <div class="col-md-6 col-md-offset-3 text-center">
  	<h2 class = "main-headline">My Account</h2>
    <%= form_for(@car_owner) do |f| %>

      <%= f.label :name, class: 'hide' %>
      <%= f.text_field :name, class: 'signup-form', :placeholder => 'Name' %>

      <%= f.label :email, class: 'hide' %>
      <%= f.email_field :email, class: 'signup-form', :placeholder => 'Email' %>

       <%= f.label :phone_number, class: 'hide' %>
      <%= f.telephone_field :phone_number, class: 'signup-form', :placeholder => 'Phone Number' %>

      <%= f.label :password, class: 'hide' %>
      <%= f.password_field :password, class: 'signup-form', :placeholder => 'Password' %>

      <%= f.label :password_confirmation, "Confirmation", class: 'hide' %>
      <%= f.password_field :password_confirmation, class: 'signup-form', :placeholder => 'Password Confirmation' %>

      <%= f.submit "Save changes", class: "btn btn-auth-form" %>
    <% end %>
    <br><br>
  </div>
</div>
<!--
  MANAGE CARS TO BE ADDED
<div class="row">
  <div class="col-md-6 col-md-offset-3 text-center">
    <h2 class = "main-headline">Manage Cars</h2>
    <br><br>
  </div>
</div>
-->
<div class="row">
  <div class="col-md-6 col-md-offset-3 text-center">
    <h2 class = "main-headline">Manage Payment Method</h2>
    <% if @payment_methods.count == 0 %>
      <div>You currently don't have any active payment methods. Try adding one.</div>
    <% else %>
      <% @payment_methods.each do |c| %>
        <div class="text-left" style="color:#545E69; font-size:1.2em;"><%= c.brand %> &middot;&middot;&middot;&middot;<%= c.last4 %> (exp. <%= c.exp_month %>/<%= c.exp_year %>) </div>
      <% end %>
    <% end %>
    <%= form_tag "/payment_methods/create", class: "text-right" do %>
      <script
      src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key="pk_test_1lD1KQKMph1VSxayDUWtomiD"
      data-name="Innvoy"
      data-panel-label="Add Payment Method"
      data-label="Add Payment Method"
      data-email="<%= @car_owner.email %>"
      data-allow-remember-me=false
      data-zip-code="true"
      data-locale="auto">
    </script>
<% end %>
  <br><br>
  </div>
</div>

</div>
