<% provide(:title, "Sign Up") %>

<div class = "container-fluid">
	<div class="row">
  <div class="col-sm-4 col-sm-offset-4 text-center">
  	<h2 class="main-headline">Sign up</h2>
    <br>
    <%= form_for(@car_owner, url: signup_path) do |f| %>
      <%= f.label :name, class: "hidden" %>
      <%= f.text_field :name, class: "signup-form", :placeholder => "Name" %>
      
      <%= f.label :email, class: "hidden" %>
      <%= f.email_field :email,  class: "signup-form", :placeholder => "Email" %>
      
      <%= f.label :password, class: "hidden" %>
      <%= f.password_field :password,  class: "signup-form", :placeholder => "Password" %>
      
      <%= f.label :password_confirmation, "Confirmation", class: "hidden" %>
      <%= f.password_field :password_confirmation,  class: "signup-form", :placeholder => "Password Confirmation" %>
      <br>
      <br>
      <%= f.submit "Create my account", class: "btn btn-auth-form" %>
    <% end %>
    <br><br>
  </div>
</div>
</div>
 <script>
mixpanel.track("Signup Page");
 </script>
