<% provide(:title, @car_owner.name + "'s Dashboard") %>
<!--
<div class = "container-fluid" style="min-height:500px;">
<div class="row">
	 <div class="col-md-6 col-md-offset-3">
	 	<h2 class = "main-headline text-center">Your Dashboard</h2>
	 	<p class = "profile-text text-left">This is your dashboard. You'll be able to add your cars to make searching for repairs easier. We will also include your cars maintenance schedule so you have a better idea when your maintenance and repairs are due based on your cars mileage. If there is a recall on one of your cars, we'll also let you know here. This is a community platform so feel free to email us at team@innvoy.com to let us know what else you are interested in seeing here.</p>
   </div>
 </div>
   <div id="dash" class="row">
    <%= form_for(@car) do |f| %>
      <div class="col-xs-12 col-sm-3 col-sm-offset-1">
    <%= f.collection_select(:car_year_id, (CarYear.all).reverse, :id, :year, {prompt: "Year"}, {class: "select_submission_form", id: "car_year_select"}) %>
      </div>
      <div class="col-xs-12 col-sm-3">
    <%= f.select(:car_make_id, options_for_select([]), {prompt: "Make"}, {class: "select_submission_form", id: "car_make_select"}) %>
      </div>
      <div class="col-xs-12 col-sm-3">
    <%= f.select(:car_model_id, options_for_select([]), {prompt: "Model"}, {class: "select_submission_form", id: "car_model_select"}) %>
  </div>
    <% end %>
  </div>

  <div class="row">
   <div class="main-headline text-left col-sm-11 col-sm-offset-1" id="dashboard-car-name"></div>
 </div>
 <div class="row">
  <div class="col-sm-6 col-sm-offset-1 text-left" style="font-size: 1.8em; color: #545E69; font-family: 'Roboto'; font-weight: 300;">
    <div class="row maintenance-schedule-container" style="border-style:solid; border-color:#7a7a7a; border-width:1px; border-radius:10px;">
      <div class="col-sm-3" style="border-right:1px solid #7a7a7a;">Maintenance<br>Schedule</div>
      <%= form_tag({controller: "cars", action: "update", id: 1}, method: "patch", class: "", id: "car_current_mileage_form", remote: true) do %>
        <%= text_field_tag('car[current_mileage]', nil, {placeholder: "Enter current mileage",  class: ""}) %>
        <%= submit_tag("Enter",  {class: ""}) %>
        <% end %>
      <div class="col-sm-9 text-center maintenance-item">
        
      </div>
    </div>

  </div>
  <div class="col-sm-3 col-sm-offset-1" style="font-size: 1.8em; color: #545E69; font-family: 'Roboto'; font-weight: 300;">
    <div class="row recalls-container" style="border-style:solid; border-color:#7a7a7a; border-width:1px;">
      <div class="col-sm-12 text-center">Recalls</div>
      <hr style="width:100%; height:1px; background: #7a7a7a"/>
      <div class="row recall-items">
      <div class="col-sm-3 text-left recall-name">
        
      </div>
      <div class="col-sm-9 text-left recall-description">
        
      </div>
    </div>
    </div>
  </div>
 </div>
 <div>
  <br>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-1 text-left" style="font-size: 1.8em; color: #545E69; font-family: 'Roboto'; font-weight: 300;">
    <div class="row maintenance-schedule-container" style="border-style:solid; border-color:#7a7a7a; border-width:1px; border-radius:10px;">
      <div class="col-sm-3" style="border-right:1px solid #7a7a7a;">Maintenance and Repair<br>History</div>
      <div class="col-sm-9 text-center">
      </div>
    </div>

  </div>
  </div>
   
 </div>

</div>
-->
<style>
.profile-header-section{
  background-color: #f1f1f1;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid #cfcfcf;
  border-radius: 5px;
}
.profile-name{
  color:#2e2e2e;
  font-size: 2em;
  font-weight: bold;
}
.profile-location{
  color:#2e2e2e;
  font-size: 1.3em;
  font-weight: normal;
  font-style: italic;
}
.profile-icon-details{
  color:#2e2e2e;
  font-size: 1em;
  font-weight: bold;
  display: inline-block;
}
.profile-icon{
  color:#52bb49;
}
.profile-img{
  border-radius: 3%;
}
.mobile-profile-img{
  width: 125px;
  height: 125px;
  border-radius: 50%;
}
.profile-section-nav{
  border-bottom: 1px solid #cfcfcf;
  margin-top: 25px;
  margin-bottom: 25px;
}
.profile-nav-menu-item{
  font-size: 1.3em;
  font-weight: lighter;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid #cfcfcf;
  border-bottom-color: #ffffff;
  color:#5c5c5c;
  text-align: center;
  cursor: pointer;
}
.profile-nav-menu-item-active{
  font-size: 1.3em;
  font-weight: lighter;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid #52bb49;
  background-color: #52bb49;
  color:#FFFFFF;
  text-align: center;
  cursor: pointer;
}
.maintenance-section{
  border: 1px solid #cfcfcf;
  padding-top: 25px;
  padding-bottom: 25px;
    margin-top: 25px;
        margin-bottom: 20px;


}
.maintenance-schedule-title{
  font-size: 1.6em;
  color: #303030;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}
.maintenance-schedule-main-title{
  padding-bottom: 30px;
  font-size: 1.1em;
}
.maintenance-schedule-car-title{
  font-size: 1.6em;
  color: #52bb49;
    letter-spacing: 1px;
  font-weight: bold;
}
.profile-hr{
    margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  border-color: #cfcfcf;
}
</style>
<div class = "container">
  <div class="row">
    <div class="profile-header-section col-xs-12">

        <div class="profile-img-container col-sm-2 col-xs-12">
          <img class="hidden-xs profile-img" src="https://scontent-sea1-1.xx.fbcdn.net/v/t1.0-9/13645216_10154234913297976_7031743884618637758_n.jpg?oh=dfe8e57486f123ee2a63cfe0f7aa320f&oe=59AB2708" height="150px" width="150px">
          <img class="visible-xs mobile-profile-img img-responsive center-block" src="https://scontent-sea1-1.xx.fbcdn.net/v/t1.0-9/13645216_10154234913297976_7031743884618637758_n.jpg?oh=dfe8e57486f123ee2a63cfe0f7aa320f&oe=59AB2708">
        </div>
        <div class="profile-details col-sm-8 col-xs-12">
          <div class="hidden-xs">
            <div class="profile-name">Roy Moran</div>
          <div class="profile-location">Chicago, Illinois, United States - Joined June 2014</div>
          <div class="profile-icon-details">
            <div><i class="fa fa-car profile-icon" aria-hidden="true"></i> 3 Cars Owned</div>
            <div><i class="fa fa-camera profile-icon" aria-hidden="true"></i> 5 Photos</div>
          </div>
        </div>
        <div class="visible-xs text-center">
          <div class="profile-name">Roy Moran</div>
          <div class="profile-location">Chicago, Illinois, United States - Joined June 2014</div>
          <div class="profile-icon-details">
            <div><i class="fa fa-car profile-icon" aria-hidden="true"></i> 3 Cars Owned</div>
            <div><i class="fa fa-camera profile-icon" aria-hidden="true"></i> 5 Photos</div>
          </div>
        </div>

        </div>

        <div class="profile-add-car col-sm-2">
          
        </div>


    </div>
  </div>
  
  <div class="row">
    <div class="profile-section-nav col-sm-10 col-sm-offset-1">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-2">
          <div class="col-sm-3 profile-nav-menu-item-active">Maintenance Schedule</div>
          <div class="col-sm-3 profile-nav-menu-item">Recalls</div>
          <div class="col-sm-3 profile-nav-menu-item">Maintenance History</div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="maintenance-section col-xs-12">
      <!-- ERB to check if car select menus should be displayed -->
      <!-- if car_owner car count == 0 -->
              <!-- Display select drop downs to add car -->

      <!-- else show car maintenance schedule -->

              <!-- Show maintenance schedule -->
      <div class="col-sm-6 col-sm-offset-1" >
        <div class="maintenance-schedule-main-title"><span class="maintenance-schedule-title">Maintenance schedule</span> for your <span class="maintenance-schedule-car-title">2007 Mazda 5</span></div>
        <hr class = "profile-hr">
      </div>
        

        <div class="col-sm-4">

          <img class="profile-car-img img-responsive center-block" src="http://www.cstatic-images.com/stock/900x600/243611.jpg" height="500px" width="500px">

        </div>

      <!-- -->

    </div>
  </div>

  <div class="recalls-section">

  </div>

  <div class="maintenanance-history-section">

  </div>

</div>
