<!-- Navigation -->
    <header>
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">  
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <a href = "/">
                <div class = "navbar-left " style = "position:relative; top: -40px; left: -30px;height: 100px">
                    <img src = "/assets/logo-rim-58bba415b2981b0799ec0707a7b43306e8789ff88d444abe02616872055cdd5d.svg"  height="200" width="250">
                </div>
            </a>

                <ul class="nav navbar-nav navbar-right">
                        <li>
                            <div class = "headerButton hidden-xs">
                                <a href="/home#signup" class="ghost-button-signup page-scroll">Sign Up</a>
                            </div>
                        </li>
                        <li>
                            <div class = "headerButton hidden-xs">
                                <a href="#link_under_construction" class="ghost-button-login under_construction_header_tooltip" title = "Under Construction">Log In</a>
                            </div>
                        </li>
                        <li>
                            <div class = "header-button-xs visible-xs">
                                <a href="/home#signup" class="ghost-button-signup page-scroll">Sign Up</a>
                            </div>
                        </li>
                        <li>
                            <div class = "header-button-xs visible-xs">
                                <a href="#link_under_construction" class="ghost-button-login under_construction_header_tooltip" title = "Under Construction">Log In</a>
                            </div>
                        </li>
                    <li>
                        <%= link_to "ABOUT", about_path, class: "navText visible-xs" %>
                    </li>
                    <li>
                        <%= link_to "TRANSPARENCY", transparency_path, class: "navText visible-xs" %>
                    </li>
                    <li>
                        <%= link_to "OAQ", oaq_path, class: "navText visible-xs" %>
                    </li>
                    <li>
                        <%= link_to "NEWS", about_path, class: "navText visible-xs" %>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>




    <!-- Navigation -->
    <div class = "header2 hidden-xs">
    <nav class="navbar navbar-inverse navbar-static-top mainNav" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <%= link_to "ABOUT", about_path, class: "navText" %>
                    </li>
                    <li>
                        <%= link_to "TRANSPARENCY", transparency_path, class: "navText" %>

                    </li>
                    <li>
                        <%= link_to "OAQ", oaq_path, class: "navText" %>
                    </li>
                    <li>
                        <%= link_to "NEWS", about_path, class: "navText" %>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
</div>
</header>
