<!-- Navigation -->
    <header>
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar" style"color:#52BB49;"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand visible-xs">Innvoy</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <a class = "hidden-xs" href = "/">
                    <div class = "navbar-left navbar-brand" style = "height: 100px; color: #D0D0D0; font-size:3.2em; font-weight:300;">
                        Innvoy
                    </div>
                </a>

                <ul class="nav navbar-nav navbar-right">
                    <% if logged_in? %>

                    <li class = "hidden-xs">
                        <div class = "headerButton">
                            <%= link_to "Users", '#' %>
                        </div>
                    </li>
                    <li class = "hidden-xs">
                        <div class = "headerButton">
                            <%= link_to "Profile", current_car_owner %>
                        </div>
                    </li>
                    <li class = "hidden-xs">
                        <div class = "headerButton">
                            <%= link_to "Settings", '#' %>
                        </div>
                    </li>
                    <li class = "hidden-xs">
                        <div class = "headerButton">
                            <%= link_to "Log out", logout_path, method: "delete" %>
                        </div>
                    </li>
                    
                    
                    <li>
                        <a href="/home#signup" class="navText visible-xs" style="color:#52BB49;">SIGN UP</a>
                    </li>
                    <li>
                        <a href="#closed" class="navText visible-xs closed_header_tooltip" title = "Closed">LOG IN</a>
                    </li>

                    <% else %>

                    <li class = "hidden-xs">
                        <div class = "headerButton">
                            <a href="/home#signup" class="ghost-button-signup page-scroll" data-toggle="modal" data-target="#signup-modal">Sign Up</a>
                            <%= link_to "ABOUT", about_path, class: "navText visible-xs" %>
                        </div>
                    </li>
                    <li class = "hidden-xs">
                        <div class = "headerButton">
                            <a href="#closed" class="ghost-button-login closed_header_tooltip" data-toggle="modal" data-target="#login-modal">Log In</a>
                        </div>
                    </li>
                    <li>
                        <a href="/home#signup" class="navText visible-xs" style="color:#52BB49;">SIGN UP</a>
                    </li>
                    <li>
                        <a href="#closed" class="navText visible-xs closed_header_tooltip" title = "Closed">LOG IN</a>
                    </li>

                    <% end %>
                    <li>
                        <%= link_to "ABOUT", about_path, class: "navText visible-xs" %>
                    </li>
                    <li>
                        <%= link_to "TRANSPARENCY", transparency_path, class: "navText visible-xs" %>
                    </li>
                    <li>
                        <%= link_to "OAQ", oaq_path, class: "navText visible-xs" %>
                    </li>
                    <li>
                        <%= link_to "SUBMIT", submission_path, class: "navText visible-xs" %>
                    </li>
                    <!--
                    <li>
                        <a href="#link_under_construction" class="navText visible-xs under_construction_header_tooltip" title = "Under Construction">NEWS</a>
                    </li>
                -->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>




    <!-- Navigation -->
    <div class = "header2 hidden-xs">
    <nav class="navbar navbar-inverse navbar-static-top mainNav" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <%= link_to "ABOUT", about_path, class: "navText" %>
                    </li>
                    <li>
                        <%= link_to "TRANSPARENCY", transparency_path, class: "navText" %>

                    </li>
                    <li>
                        <%= link_to "OAQ", oaq_path, class: "navText" %>
                    </li>
                    <li>
                        <%= link_to "SUBMIT", submission_path, class: "navText" %>
                    </li>
                    <!--
                    <li>
                        <a href="#link_under_construction" class="navText under_construction_header_tooltip" title = "Under Construction">NEWS</a>
                    </li>
                -->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
</div>
</header>

<div class="modal fade" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <%= form_for(@car_owner, url: signup_path) do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
      <br>
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control'%>
      <br>
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
      <br>
      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
      <br>
      <br>
      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>
      </div>
    </div>
  </div>
</div>