<!DOCTYPE html>
  <html>
    <head>
	    <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="apple-touch-icon-precomposed" sizes="57x57" href="apple-touch-icon-57x57.png" />
      <link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114.png" />
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72.png" />
      <link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144x144.png" />
      <link rel="apple-touch-icon-precomposed" sizes="60x60" href="apple-touch-icon-60x60.png" />
      <link rel="apple-touch-icon-precomposed" sizes="120x120" href="apple-touch-icon-120x120.png" />
      <link rel="apple-touch-icon-precomposed" sizes="76x76" href="apple-touch-icon-76x76.png" />
      <link rel="apple-touch-icon-precomposed" sizes="152x152" href="apple-touch-icon-152x152.png" />
      <%= favicon_link_tag 'favicon.ico' %>
      <%= favicon_link_tag 'favicon-32x32.png', {rel: 'icon', type: 'image/png', sizes:'32x32' } %>
      <%= favicon_link_tag 'favicon-16x16.png', {rel: 'icon', type: 'image/png', sizes:'16x16' } %>
      <%= favicon_link_tag 'favicon-96x96.png', {rel: 'icon', type: 'image/png', sizes:'96x96' } %>
      <%= favicon_link_tag 'favicon-128.png', {rel: 'icon', type: 'image/png', sizes:'128x128' } %>
      <%= favicon_link_tag 'favicon-196x196.png', {rel: 'icon', type: 'image/png', sizes:'196x196' } %>
      <meta name="application-name" content="Innvoy"/>
      <meta name="msapplication-TileColor" content="#FFFFFF" />
      <meta name="msapplication-TileImage" content="mstile-144x144.png" />
      <meta name="msapplication-square70x70logo" content="mstile-70x70.png" />
      <meta name="msapplication-square150x150logo" content="mstile-150x150.png" />
      <meta name="msapplication-wide310x150logo" content="mstile-310x150.png" />
      <meta name="msapplication-square310x310logo" content="mstile-310x310.png" />
      <link href='https:///fonts.googleapis.com/css?family=Josefin+Sans:400,500,600|Roboto:400,500,300' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

      <title><%= yield(:title) %> | Innvoy</title>
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
      <%= render 'layouts/shim' %>
      <%= render 'layouts/mix_panel' %>
    </head>
    <body>
	    <%= render 'layouts/header' %>
      <div class = "container">
        <br>
        <% flash.each do |message_type, message| %>
          <div class="alert alert-<%= message_type %>">
            <%= message %>
          </div>
        <% end %>
      </div>
      <%= yield %>
      <%= render 'layouts/feedback' %>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </body>
    <%= render 'layouts/ganalytics' %>
  </html>
